#ingnore download directory
files

#ignore log directory
data

#ingnore patches directory
patches

#ignore tempory directory
site/app/tmp

#do not store configuration files
site/app/config/config-local.php
site/app/config/config.php

#ignore .mo files
*.mo


#do not store rebase scripts
rebase.sh
rebase.sh~

#do not store files which are rebuilt by build.py
site/app/config/revisions.php
site/app/webroot/css/style.min.css
site/app/webroot/js/__utm.min.js
site/app/webroot/js/jquery.addons.min.js

site/vendors/product-details

site/app/messages.po
