.template { display: none; }

#content {
    width: 948px;
    margin-left:auto;
    margin-right:auto;
}
.section {
    width: 950px;
}

#stats-plot-listing .item {
    padding: 1em 1em;
}
#stats-plot-listing .plot-title {
    float: left;
}
.html-rtl #stats-plot-listing .plot-title {
    float: right;
}
#stats-plot-listing .plot-summary {
    float: left;
    margin: 0 1.5em;
    line-height: 1.6em;
}
.html-rtl #stats-plot-listing .plot-summary {
    float: right;
}
#ratings-down, #ratings-up {
    display: inline;
    padding-left: 1.25em; /* Space for the image. */
    margin-right: 0.4em;
    padding-top: 0.1em; /* Push the text down a bit. */
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url('../../img/amo2009/icons/thumbs.png');
}
#ratings-up {
    background-position: left 0;
    color: #00b960;
}
#ratings-down {
    background-position: left 67%;
    color: #d93a40;
}
.html-rtl #ratings-down, .html-rtl #ratings-up {
    padding: 0 1.25em 0 0; /* Space for the image. */
    margin: 0 0 0 0.4em;
}
.html-rtl #ratings-up {
    background-position: right 0;
}
.html-rtl #ratings-down {
    background-position: right 67%;
}
#stats-plot-listing .plot-container {
    clear: both;
}
#stats-plot-listing .plot-summary em {
    font-style: normal;
    font-weight: bold;
}

#stats-addon-listing .item h4 {
    width: 200px;
    float: left;
    font-size: 1.385em;
    padding-top: 0.25em;
}
.html-rtl #stats-addon-listing .item h4 {
    float: right;
}
#stats-addon-listing .item .download-total {
    width: 120px;
    float: right;
    font-size: 1em;
    padding-left: 10px;
    line-height: 1.385em;
    padding-top: 0.55em;
}
.html-rtl #stats-addon-listing .item .download-total {
    float: left;
    padding-left: 0;
    padding-right: 10px;
}
#stats-addon-listing .item .download-total em {
    font-style: normal;
    font-weight: bold;
}
#stats-addon-listing .item .download-bullet {
    width: 150px;
    float: right;
    font-size: 2.1em;
    padding-left: 10px;
}
.html-rtl #stats-addon-listing .item .download-bullet {
    float: left;
    padding-left: 0;
    padding-right: 10px;
}
#stats-addon-listing .item .download-line {
    width: 120px;
    float: right;
    font-size: 1.0em;
    padding-left: 10px;
    padding-top: 0.60em;
}
.html-rtl #stats-addon-listing .item .download-line {
    float: left;
    padding-left: 0;
    padding-right: 10px;
}

#stats-table {
    display: none;
    width: 948px;
    overflow: auto;
    margin: 1em 0 1em 0;
}
#stats-table-listing {
    margin: 1em 0 1em 0;
}
#stats-table a.download{
    padding: 1em 0em 1.5em 0em;
    font-weight: bold;
    display: block;
}
#stats-table-instance thead {
    background-color: #E4F8E0;
}
#stats-table-instance thead tr {
}
#stats-table-instance thead tr th {
    color: #333;
    padding: 0.25em 1em 0.25em 1em;
    font-weight: bold;
    border-right: 2px solid #ccc;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
#stats-table-instance thead tr th.first {
    border-left: 1px solid #000;
}
#stats-table-instance thead tr th.last {
    border-right: 1px solid #000;
}
#stats-table-instance tbody {
}
#stats-table-instance tbody tr.odd {
    background-color: #ededed;
}
#stats-table-instance tbody tr.even {
}
#stats-table-instance tbody tr td {
    padding: 0.25em 1em 0.25em 1em;
    border-right: 2px solid #ccc;
}
#stats-table-instance tbody tr td.first {
    font-weight: bold;
    border-left: 1px solid #000;
}
#stats-table-instance tbody tr td.last {
    border-right: 1px solid #000;
}
#stats-table-instance tbody tr.last td {
    border-bottom: 1px solid #000;
}
#stats-table-instance tbody tr td.value {
    text-align: right;
}
.html-rtl #stats-table-instance tbody tr td.value {
    text-align: left;
}
#stats-csv-download {
    padding-top: 0.3em;
    line-height: 2em;
}

#stats-table-listing #stats-table-instance {
    margin-bottom: 0;
    font-size: 90%;
}
#stats-table-listing #stats-table-instance {
    border-color: #D6E9F0;
}
#stats-table-listing #stats-table-instance thead tr th {
    border-top: 1px solid #D6E9F0;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
#stats-table-listing #stats-table-instance tbody tr td {
    padding: 0.25em 0.5em 0.25em 0.5em;
}
#stats-table-listing #stats-table-instance tbody tr.last td {
    border-bottom: 1px solid #D6E9F0;
}
#stats-table-listing #stats-table-instance thead tr th.first,
#stats-table-listing #stats-table-instance tbody tr td.first {
    border-left: 1px solid #D6E9F0;
    min-width: 110px;
}
#stats-table-listing #stats-table-instance thead tr th.last,
#stats-table-listing #stats-table-instance tbody tr td.last {
    border-right: 1px solid #D6E9F0;
}

.greenbox-tr {
    background: transparent url('../../img/rec-tr.png') top right no-repeat;
}
.greenbox-tl {
    background: transparent url('../../img/rec-tl.png') top left no-repeat;
}
.greenbox-bl {
    background: transparent url('../../img/rec-bl.png') bottom left no-repeat;
    height: 10px;
}
.greenbox-br {
    background: transparent url('../../img/rec-br.png') bottom right no-repeat;
    height: 10px;
}

.bluebox-tr {
    background: transparent url('../../img/addon-tr.png') top right no-repeat;
}
.bluebox-tl {
    background: transparent url('../../img/addon-tl.png') top left no-repeat;
}
.bluebox-bl {
    background: transparent url('../../img/addon-bl.png') bottom left no-repeat;
    height: 10px;
}
.bluebox-br {
    background: transparent url('../../img/addon-br.png') bottom right no-repeat;
    height: 10px;
}

body {
    line-height: normal;
}
td, th {
    border: none;
}

.warning {
    background: transparent url('../../img/warning.png') no-repeat 20px 50%;
    border: 1px solid gray;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    height: 48px;
    margin: 0 20px 10px 20px;
    padding: 5px 20px 5px 100px;
}
.html-rtl .warning {
    background-position: 810px 50%;
    padding-left: 20px;
    padding-right: 80px;
}
.warning div {
    display: table-cell;
    height: 48px;
    vertical-align: middle;
}

#helpbox {
    margin: 5px auto;
    border: 1px solid gray;
    width: 75%;
    padding: 10px;
}

#addon_header h2 {
    padding-top: 5px;
}

#stats_menu span.type {
    color: #666666;
}
#stats_menu .selected {
    border-bottom: 1px dotted navy;
}
#tabs p {
    margin: 0px;
    text-indent: 10px;
}
#tabs h3 {
    border-bottom: 1px solid black;
}
#tabs h4 {
    font-weight: bold;
    font-size: 14px;
}
#tabs h4 a {
    color: navy;
    text-decoration: none;
}
#tabs h4 a:hover {
    text-decoration: underline;
}

.cal_updatepings {
    background-color: #DDDDFF;
}

#stats-table-container {
    padding: 10px;
}
#stats_table {
    margin: 0 auto;
}
#stats_table .header td {
    font-weight: bold;
}
#stats_table .value {
    
}

#stats_contributions_overview td,
#stats_overview td {
    vertical-align: middle;
}
#stats_contributions_overview .label,
#stats_overview .label {
    font-size: 120%;
    border-bottom: 1px dashed gray;
}
#stats_contributions_overview .value,
#stats_overview .value {
    font-size: 130%;
    text-align: right;
    border-bottom: 1px dashed gray;
}
.html-rtl #stats_contributions_overview .value,
.html-rtl #stats_overview .value {
    text-align: left;
}
#stats_contributions_overview .biglabel,
#stats_overview .biglabel {
    font-weight: bold;
    font-size: 120%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#stats_contributions_overview .bigvalue,
#stats_overview .bigvalue {
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.html-rtl #stats_contributions_overview .bigvalue,
.html-rtl #stats_overview .bigvalue {
    text-align: left;
}
#stats_collections_overview .date,
#stats_overview .date {
    text-indent: 2em;
    color: gray;
    font-size: 10px;
}

#nodata .inpie {
    position: absolute;
    top: 140px;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    padding-left: 10px;
}
#nodata .outofpie {
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100%;
}

#settings {
    text-align: right;
    padding-top: 10px;
}
.html-rtl #settings {
    text-align: left;
}
#settings .confidential {
    color: red;
    font-weight: bold;
}

.settings-content ul {
    list-style: none;
}
.settings-content .buttons {
    text-align: center;
}
.notice-updated {
    border: 1px solid green;
    background: lightgreen url('../../img/stats/tick.png') no-repeat 5px 50%;
    margin-bottom: 5px;
    padding: 5px 5px 5px 30px;
}

#statistics-header {
    min-height: 32px;
    padding: 10px;
}
#statistics-controls {
    text-align: right;
    float: right;
}
.html-rtl #statistics-controls {
    text-align: left;
    float: left;
}
#statistics-links {
    font-size: 10px;
}
#statistics-header #addon-icon {
    padding-right: 5px;
    float: left;
}
.html-rtl #statistics-header #addon-icon {
    padding-right: auto;
    padding-left: 5px;
    float: right;
}
#statistics-header #addon-title {
    line-height: 2;
}
#statistics-header #addon-title a {
    color: inherit;
    font-weight: inherit;
}
