richlistitem[type="bandwagonAddon"] {
      -moz-binding: url("chrome://bandwagon/content/ui/bindings/bandwagon.xml#bandwagon-addon");
}

richlistitem[type="bandwagonAddonExpanded"] {
      -moz-binding: url("chrome://bandwagon/content/ui/bindings/bandwagon.xml#bandwagon-addon-expanded");
}

bandwagonCollection {
      -moz-binding: url("chrome://bandwagon/content/ui/bindings/bandwagon.xml#bandwagon-collection");
}

bandwagonPublishButton {
      -moz-binding: url("chrome://bandwagon/content/ui/bindings/bandwagon.xml#bandwagon-publish-button");
}

