div#frame {
  font-family:Arial, Helvetica, Verdana, sans-serif;
  font-size:12px;
  color:#000;
}

a#developer {
  color:#999;
  font-weight:bold;
  font-size:11px;
}
a#browseList {
  color:#999;
  text-decoration:none;
  font-weight:bold;
  font-size:14px;
}
div#addons {
  width:572px;
  float:left;
  position:relative;
  margin-top:0px;
  padding-right:15px;
  background:url('/images/sidebarBackground.gif') repeat-y 539px;
}
div#addons h3#featured {
  font-size:13px;
  color:#666;
  border-bottom:1px solid #bbb;
}

div#addons h3#browsing {
  font-size:15px;
  color:#444;
  margin-bottom:0px;
}
div#addons span#browsing {
  font-size:12px;
  font-style:italic;
  color:#666;
}
div#addons div#primaryAddon {
  width:570px;
  min-height:160px;
  padding-bottom:20px;
  border:1px solid #E8E8E8;
  background-color:#F8F8F8;
}
div#primaryAddon div#primaryIcons {
  width:40px;
  float:left;
  margin-top:10px;
  margin-left:10px;
  
}
div#primaryAddon div#primaryDesc {
  margin-top:10px;
  margin-left:50px;
  width:300px;
}

div#primaryAddon img#primaryImage {
  margin-top:10px;
  margin-right:10px;
  float:right;
  border:1px solid #E8E8E8;
}
div#primaryAddon div#reviewIcon {
  margin-top:10px;
  clear:left;
  float:left;
  margin-left:8px;
  margin-right:5px;
}

div#primaryAddon div#reviewDesc {
margin-top:30px;
font-style:italic;
width:560px;
}
div#primaryAddon span#reviewAuthor {
  color:#AAA;
  font-weight:bold;
  font-size:12px;
  font-style:normal;
}
div#primaryDesc span#recentVersion {
  color:#AAA;
  margin-top:5px;
  font-weight:bold;
  
}
div#primaryDesc img#recentVersion {
  margin-top:5px;
  
}
div#addons div#secondaryAddon {
  clear:left;
  padding: 10px 10px 0px 10px;
  margin: 10px 0px 0px 0px;
  width: 260px;
  border:1px solid #E8E8E8;
  background-color:#F8F8F8;
}
div#addons div#tertiaryAddon {
  padding: 10px 10px 0px 10px;
  margin: 10px 0px 0px 0px;
  float:right;
  width: 260px;
  border:1px solid #E8E8E8;
  background-color:#F8F8F8;
}
div#addons h3#secondary {
  margin-bottom:0px;
  
  margin-top:5px;
  font-size:13px;
}
div#addons div#greatAddons {
  width:600;
  font-size:11px;
  font-weight:bold;
}
div#addons img#secondaryIcon {
  display: inline;
  margin-left:2px;
}
div#addons p#secondaryText {
  margin-top:10px;
}
div#greatAddons h3#great {
  
  font-size:13px;
  margin-bottom:5px;
  color:#666;
  border-bottom:1px solid #bbb;
}
h2#addonName {
  width:379px;

  font-size:20px;
  font-weight:bold;
  line-height:1;
  margin:0px;
  padding:0px;
}
  h2#addonName span#version {
    font-weight:normal;
    color:#888;
    font-size:12px;
    line-height:1;
  }

span#developer {
  font-size:10px;
  font-weight:bold;
  line-height:1;
  color:#666;
}

span#tagline {
  color:#555;
}

  div.versionNotes h3 {
    font-size:12px;
    font-weight:bold;
    margin:0px;
    padding:0px;
  }
    div.versionNotes h3 span {
      font-weight:normal;
      color:#acacac;
    }

div#sidebar {

  float:right;
  line-height:1.5;
  font-size:11px;
  width:140px;
  min-height:500px;
  padding-left:20px;
  border-left:1px solid #ccc;
}
  div#sidebar h3 {
    margin:0px 0px 4px 0px;
    padding:0px 0px 5px 0px;
    
    float:left;
    font-weight:bold;
    font-size:12px;
    color:#444;

    border-bottom:1px solid #ccc;
  }
  div#sidebar img#subscribe {
    float:left;
    margin-right:5px;
  }
  div#sidebar h3#subscribe {
    float:left;
    
    color:#666;
    font-weight:bold;
    font-size:9px;
    border-bottom:0px;
    margin-bottom:15px;
  }
  div#sidebar h3#browsing {
    border-bottom:0px;
  }
  div#sidebar h3#categories {
    margin-top:15px;
  }
  div#sidebar span#categories {
    float:left;
    font-weight:bold;
    font-size:11px;
    margin-left:12px;
  }
  

  div.review {
    clear:right;
    overflow:auto;
    width:240px;
    margin-bottom:15px;

    font-size:11px;
    color:#666;
  }
    div.review div.score {
      float:left;
      clear:left;

      padding:3px 5px 1px 5px;
      margin-right:8px;

      font-size:20px;
      color:#555;

      background-color:#ddd;
    }
      div.review div.score span {
        color:#aaa;
      }

      div.review span.review {
        display:block;

        width:150px;
        float:left;
        clear:right;
      }

    div.review a {
      font-size:13px;
      color:#666;
      font-weight:bold;
    }

    div.review a.profileLink {
      font-size:11px;
      color:#666;
      font-weight:normal;
    }

    a.reviewLink {
      margin-left:45px;
    }

  div#sidebar ul {
    margin:0px;
    padding:0px 0px 0px 18px;
  }
    div#sidebar ul li {
      margin-bottom:6px;
    }

