body {
	background: url(../img/fyf/bg.png) repeat-x;
	background-color: #fff;
	font: 85%/1.4 verdana, helvetica, arial, sans-serif;
	color: #26709e;
}

#page {
	width: 942px;
	margin: 0 auto;
}

#branding {
	padding-top: 20px;
}

#branding h1 {
	float: left;
	margin-top: 30px;
}

#page-title.fyf {
	padding-top: 25px;
	height: 6em;
	background: none;
}

#content {
	font-size: 0.9em;
	min-height: 0;
}

.cat-header:hover {
    background: url(../img/fyf/collection-bg.png) repeat-x;
    cursor: pointer;
}

#content-main ul, #content-main li {
    margin-bottom: 0;
}

.cat-header h3 {
	color: #af1717;
	font-weight: bold;
}

.cat-header:hover {
	cursor: pointer;
}

#fashion-blurb hr {
	background: url(../img/fyf/addonguy-large.png) no-repeat right top;
	border: 0;
	width: 269px;
	height: 354px;
	z-index: 50;
	position: absolute;
	right: 20px;
	top: -100px;
}

#fashion-blurb p {
	font-size: 1.2em;
	width: 580px;
	color: #333;
}

form#collectionform {
	border-top: 2px solid #ddd;	
	padding-top: 15px;
	z-index: 1;
}

.addon-listing {
	background: url(../img/fyf/collection-bg2.png) repeat-x 0 bottom;	
}

.cat-header {
	padding: 10px 10px 10px 15px;
	border-top: 3px solid #ddd;
}	

.cat-header.first {
	border-top: 0;
}

.preview-img {
	float: left;
	padding: 0 10px 0 0;
	width: 200px;
}

.item-desc {
	margin-left: 160px;
}

#branding h2 {
	text-indent: -5000px;
	background: url(../img/fyf/addonguy-head.png) no-repeat;
	width: 219px;
	height: 164px;
	float: right;
}

#branding h3 {
	text-indent: -5000px;
	background: url(../img/fyf/faq_subheader.png) no-repeat;
	width: 305px;
	height: 27px;
	clear: both;
	float: left;
	margin-top: -20px;
}

#content-main {
	clear: left;
	float: left;
	margin: 15px 0 45px 0;
	padding-top: 10px;
}

#content-main dt {
	font-weight: bold;
	margin-top: 20px;
}

#content-main dt {
	font-weight: bold;
}

#content-main dd {
	margin: 6px 0 0 0;
}

#content-main.faq ul li {
	list-style-type: disc;
	margin: 0 15px;
}

#successpage h1 img {
	vertical-align: middle;
	margin: 0 10px;
}

#successpage > p,
#firstrun > p {
	font-size: 120%;
	color: #434141;
    margin: 2em 0;
}

#firstrun {
	background: url(../img/fyf/addonguy-success.png) no-repeat right top;
}

#firstrun .welcome h1 {
	font-weight: normal;
	font-size: 220%;
	margin-left: 110px;
	color: #fff;
}

#firstrun .welcome img {
	margin-top: -25px;
}

#firstrun > p {
	margin-right: 180px;
	padding-bottom: 40px;
}

#firstrun .box {
	border-top: #ccc solid 2px;
	width: 240px;
	float: left;
	padding: 8px;
	margin: 0 10px;
	font-size: 110%;
}

#firstrun .box h3 {
	color: #d00000;
	margin-bottom: .5em;
}

#firstrun .box p,
#firstrun .box li {
	color: #434141;
}

#footer {
	clear: left;
	background: url(../img/fyf/footer-bg.png) repeat-x;
	padding: 4px 0 20px 0;
}

#footer-legal {
	width: 942px;
	margin: 0 auto;
	padding-top: 10px;
	font-size: .7em;
	color: #9d9d9d;
	text-align: center;
}

#legal-links {
	display: block;
}

#legal-links a {
	margin-right: 6px;
}

#footer-legal p {
	margin-bottom: 10px;
}

a {
	color: #26709e;
	text-decoration: none;
}

a:visited {
	color: #26709e;
}

a:hover {
	color: #000;
	text-decoration: underline;
	padding-bottom: 1px;
}

#footer a {
	text-decoration: underline;
}

#footer a:hover {
	border: 0;
	text-decoration: none;
}
