.compat-box {
    border: 2px solid #666666;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    width: 650px;
    margin: 20px auto;
    padding: 20px;
    height: 360px;
    background: transparent url('../img/puzzle-corner.png') no-repeat bottom right;
}

.compat-box .header .title img {
    vertical-align: middle;
    margin-right: 10px;
}

.compat-box .header .title {
    font-size: 1.1em;
    color: #666666;
    font-weight: bold;
    
}

.compat-box .loading {
    font-size: 1.3em;
    margin-top: 50px;
    text-align: center;
}
.compat-box .footer {
    display: none;
    text-align: right;
    font-style: italic;
}

#compat-intro h2 {
    text-align: center;
    font-size: 1.5em;
}
#compat-intro p {
    width: 80%;
    margin: 10px auto;
}
#compat-intro ul {
    margin: 0;
    padding: 0;
}
#compat-intro ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#compat-intro ul li a {
    border: 1px solid #666666;
    color: #666666;
    padding: 5px 10px;
    margin: 15px auto;
    display: block;
    text-decoration: none;
    font-size: 1.3em;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    width: 25em;
    background: #FFFFFF url('../img/slider-next-disabled.gif') no-repeat 98% 50%;
}
#compat-intro ul li a:hover {
    background-image: url('../img/slider-next.gif');
    color: #2D3B58;
    border-color: #2D3B58;
}

#compat-home-nav {
    display: none;
    border: 1px solid #666666;
    border-bottom: none;
    float: right;
    margin-right: 155px;
    padding: 0 7px;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
}
#compat-home-nav a {
    text-decoration: none;
}


#report-intro,
#report-details,
#report-details-data,
#developers-intro,
#developers-details,
#developers-details-data,
#users-intro {
    display: none;
}

#report-details-data,
#developers-details-data {
    overflow-y: auto;
    overflow-x: hidden;
    height: 350px;
}

#report-intro .intro {
    margin: 15px 10px;
}

.details-link {
    text-align: center;
    clear: both;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}

#report-intro .details-link a:link,
#report-intro .details-link a:visited,
#report-intro .details-link a:hover {
    color: #666666;
}

/* Overall Compat Bar */
#overall-compat-bar {
    width: 600px;
    height: 100px;
    border: 2px solid #666666;
    margin: 0 auto;
    background-color: #FFFFFF;
    overflow: hidden;
}
#overall-compat-bar div {
    height: 100px;
    float: left;
    color: #FFFFFF;
    text-align: center;
    line-height: 8em;
    font-weight: bold;
}

#overall-compat-legend {
    height: 120px;
}

#overall-compat-legend .legend-box {
    border: 2px solid #CCCCCC;
    background-color: #EEEEEE;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    float: left;
    width: 150px;
    min-height: 100px;
    margin: 10px 4px;
}

#overall-compat-legend .color-square {
    width: 15px;
    height: 100px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    float: left;
}

#overall-compat-legend p {
    margin: 0 2px 2px 18px;
}


/* Add-on Details Report */
#compat-report {
    width: 100%;
}
#compat-report td {
    height: 20px;
    vertical-align: middle;
}
#compat-report .maxversion {
    color: #FFFFFF;
    display: block;
    width: 6em;
    text-align: center;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin: 0 0 0 auto;
}

#compat-report td.bar {
    width: 400px;
    max-width: 400px;
}
#compat-report div.bar {
    border: 1px solid #666666;
    background-color: #FFFFFF;
    height: 20px;
    overflow: hidden;
}
#compat-report div.used-bar {
    background-color: #DDDDDD;
    height: 20px;
    float: left;
}
#compat-report div.new-bar {
    height: 20px;
    float: left;
}

.compat-latest {
    background-color: #339900;
}
.compat-beta {
    background-color: #99CC99;
}
.compat-alpha {
    background-color: #FFCC66;
}
.compat-other {
    background-color: #999999;
}

/* Developer Info */
.developer-addons {
    padding: 0;
    margin: 0;
}
.developer-addons li {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
}
.developer-addons li div.addon-details {
    border: 2px solid #666666;
    -moz-border-radius: 6px;
    -moz-border-radius-topleft: 0;
    -webkit-border-radius: 6px;
    -webkit-border-top-left-radius: 0;
    margin-left: 93px;
    padding: 0 5px;
    background-color: #FFFFFF;
}
.developer-addons li div.appversion {
    color: white;
    text-align: center;
    float: left;
    width: 85px;
    padding: 3px;
    border: 2px solid #666666;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
}
.developer-addons li .name {
    display: block;
}
.developer-addons li .details {
    font-size: 13px;
}

.rightalign {
    float: right;
    margin: 0 0 10px 10px;
}

.login {
    font-size: 1.1em;
    font-style: italic;
    margin-top: 10px;
}

ul.tips {
    font-size: 1.2em;
}