.html-rtl th,
.html-rtl td {
    text-align: right;
}

.graybox {
    background-color: #F7FAFC;
    border: 1px solid #EEF1F3;
    padding: 15px;
}
.graybox.errors {
    background-color: #FFA5A5;
}

.rounded {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.action-button-container {
    margin: 5px 0;
}
.action-button-container.centered,
.add-button-container.centered {
    text-align: center;
}
.action-button {
    border: 1px solid #5D6C8C;
    padding: 5px 10px;
    background: #FFFFFF url('../img/arr-view-big.png') no-repeat scroll 98% 3px;
    padding-right: 30px;
    font-size: 110%;
    color: #5D6C8C;
}
.html-rtl .action-button {
    background-image: url('../img/arr-view-rtl-big.png');
    background-position: 2% 3px;
    padding-right: auto;
    padding-left: 30px;
}
a.action-button {
    text-decoration: none;
}
a.action-button:hover {
    background-position: 98% -295px;
    color: #2D3B58;
}
.html-rtl a.action-button:hover {
    background-position: 2% -295px;
}
.action-button.disabled {
    background: #EEEEEE url('../img/developers/privileges.png') no-repeat 96% 50%;
    border-color: gray;
    color: gray;
    cursor: default;
}
.html-rtl .action-button.disabled {
    background-position: 4% 50%;
}
a.action-button.disabled:hover {
    color: gray;
    background-position: 96% 50%;
}
.html-rtl a.action-button.disabled:hover {
    background-position: 4% 50%;
}

.index-actions {
    margin: 15px 0 0 30px;
    padding: 0;
    list-style: none;
}
.html-rtl .index-actions {
    margin: 15px 30px 0 0;
}
.index-actions li {
    padding-left: 20px;
    font-weight: bold;
}
.html-rtl .index-actions li {
    padding-left: auto;
    padding-right: 20px;
}
.action-details {
    margin-left: 10px;
    font-weight: normal;
}
.html-rtl .action-details {
    margin-left: auto;
    margin-right: 10px;
}

.add-button-container {
    margin-top: 10px;
}
.add-button,
.remove-button,
.edit-button {
    background: #FFFFFF url('../img/developers/add.png') no-repeat 5px 50%;
    padding: 3px 5px 3px 25px;
    border: 1px solid #5D6C8C;
    white-space: nowrap;
}
.html-rtl .add-button,
.html-rtl .remove-button,
.html-rtl .edit-button {
    background-position: 100% 50%;
    padding: 3px 20px 3px 5px;
}
.button {
    background-color: #FFFFFF;
    border: 1px solid #5D6C8C;
    padding: 3px 5px;
}
a.add-button,
a.remove-button,
a.edit-button,
a.button {
    text-decoration: none;
    color: #1D587F;
}
.add-button.bigger {
    padding: 5px 10px 5px 30px;
    font-size: 105%;
    border: 1px solid #5D6C8C;
}
.html-rtl .add-button.bigger {
    padding: 5px 25px 5px 10px;
}
.edit-button {
    background-image: url('../img/developers/pencil.png');
    border: 1px solid #FFCC66;
}
.remove-button {
    background-image: url('../img/developers/delete.png');
    border: 1px solid #FFA5A5;
}
a.remove-button:hover {
    color: #CC3333;
}
a.add-button:hover,
a.edit-button:hover,
a.button:hover {
    border-color: #1D587F;
    color: #1D587F;
    text-decoration: underline;
}

#dev-agreement {
    background-color: #EEEEEE;
    margin: 0 5% 10px;
    padding: 10px;
    max-height: 300px;
    overflow: auto;
    border: 1px solid #AAA;
    font-size: 85%;
}
#license-disclosure {
  font-size: 95%;
}

#step-agreement,
#upload-success,
#upload-loading,
#upload-error {
    display: none;
}

#upload-error {
    margin-top: 10px;
}
#upload-error-content,
#addon-created-content,
#version-created-content,
#file-created-content {
    padding: 5px 10px;
}

#file-upload .disabled {
    color: gray;
}

#file-upload .submit {
    margin: 5px;
    padding: 10px;
    text-align: center;
    width: 322px;
}
#file-upload .submit input {
    font-weight: bold;
}

.greenbox-tr {
    background: transparent url('../img/rec-tr.png') top right no-repeat;
}
.greenbox-tl {
    background: transparent url('../img/rec-tl.png') top left no-repeat;
}
.greenbox-bl {
    background: transparent url('../img/rec-bl.png') bottom left no-repeat;
    height: 10px;
}
.greenbox-br {
    background: transparent url('../img/rec-br.png') bottom right no-repeat;
    height: 10px;
}

.bluebox-tr {
    background: transparent url('../img/addon-tr.png') top right no-repeat;
}
.bluebox-tl {
    background: transparent url('../img/addon-tl.png') top left no-repeat;
}
.bluebox-bl {
    background: transparent url('../img/addon-bl.png') bottom left no-repeat;
    height: 10px;
}
.bluebox-br {
    background: transparent url('../img/addon-br.png') bottom right no-repeat;
    height: 10px;
}

.redbox-tr {
    background: transparent url('../img/exp-tr.png') top right no-repeat;
}
.redbox-tl {
    background: transparent url('../img/exp-tl.png') top left no-repeat;
}
.redbox-bl {
    background: transparent url('../img/exp-bl.png') bottom left no-repeat;
    height: 10px;
}
.redbox-br {
    background: transparent url('../img/exp-br.png') bottom right no-repeat;
    height: 10px;
}

button, input[type="submit"] {
    cursor: default;
}

p {
    padding-top: 10px;
}


/* edit */
#edit-listing dt {
    padding-left: 25px;
    min-height: 20px;
}
.html-rtl #edit-listing dt {
    padding-left: auto;
    padding-right: 25px;
}
#edit-listing dd {
    padding-left: 20px;
    padding-bottom: 10px;
}
.html-rtl #edit-listing dd {
    padding-left: auto;
    padding-right: 20px;
}
.pitch ul {
    margin: 0;
    list-style: none;
}
.pitch .actionbar li {
    padding-left: 23px;
    margin-top: 5px;
}
.html-rtl .pitch .actionbar li {
    padding-left: auto;
    padding-right: 23px;
}
.pitch .actionbar li.container {
    padding-left: 0;
    margin-top: 0;
}
.html-rtl .pitch .actionbar li.container {
    padding-right: 0;
}
.pitch .actionbar ul li {
    margin-left: 15px;
}
.html-rtl .pitch .actionbar ul li {
    margin-left: auto;
    margin-right: 15px;
}
.pitch .actionbar li.selected {
    font-weight: bold;
}
.pitch hr {
    border: none;
    border-bottom: 1px solid #EEEEEE;
}
.pitch h4 {
    border-bottom: 1px solid #EEEEEE;
}
.pitch h4 a {
    text-decoration: none;
    color: #2D3B58;
}

.actionbar.inactive li.active-only {
    display: none;
}

.actionbar .displaypage {
    background: transparent url('../img/developers/actionbar/displaypage.png') no-repeat 0% 50%;
}
.actionbar .details {
    background: transparent url('../img/developers/actionbar/details.png') no-repeat 0% 50%;
}
.actionbar .edit {
    background: transparent url('../img/developers/actionbar/edit.png') no-repeat 0% 50%;
}
.actionbar .edit-properties {
    background: transparent url('../img/developers/actionbar/edit_properties.png') no-repeat 0% 50%;
}
.actionbar .edit-descriptions {
    background: transparent url('../img/developers/actionbar/edit_descriptions.png') no-repeat 0% 50%;
}
.actionbar .edit-categories {
    background: transparent url('../img/developers/actionbar/edit_categories.png') no-repeat 0% 50%;
}
.actionbar .edit-authors {
    background: transparent url('../img/developers/actionbar/edit_authors.png') no-repeat 0% 50%;
}
.actionbar .edit-contributions {
    background: transparent url('../img/developers/actionbar/edit_contributions.png') no-repeat 0% 50%;
}
.actionbar .edit-profile {
    background: transparent url('../img/developers/actionbar/edit_profile.png') no-repeat 0% 50%;
}
.actionbar .status {
    background: transparent url('../img/developers/actionbar/status.png') no-repeat 0% 50%;
}
.actionbar .statistics {
    background: transparent url('../img/developers/actionbar/stats.png') no-repeat 0% 50%;
}
.actionbar .versions {
    background: transparent url('../img/developers/actionbar/versions.png') no-repeat 0% 50%;
}
.actionbar .versions-add {
    background: transparent url('../img/developers/actionbar/versions_add.png') no-repeat 0% 50%;
}
.actionbar .previews {
    background: transparent url('../img/developers/actionbar/previews.png') no-repeat 0% 50%;
}
.html-rtl .actionbar .displaypage,
.html-rtl .actionbar .details,
.html-rtl .actionbar .edit,
.html-rtl .actionbar .edit-properties,
.html-rtl .actionbar .edit-descriptions,
.html-rtl .actionbar .edit-categories,
.html-rtl .actionbar .edit-authors,
.html-rtl .actionbar .status,
.html-rtl .actionbar .statistics,
.html-rtl .actionbar .versions,
.html-rtl .actionbar .versions-add,
.html-rtl .actionbar .previews {
    background-position: 100% 50%;
}

.edit-categories-descriptions {
  border-left: 1px solid #CCCCCC;
}
.html-rtl .edit-categories-descriptions {
  border-left-width: 0;
  border-right: 1px solid #CCCCCC;
}

#add-author-button .add-button {
    background-image: url('../img/developers/edit_authors_add.png');
}

#add-author ul {
    list-style: none;
}
#add-author p {
    padding-top: 0;
}
#author-table {
    width: 100%;
}
#author-table th {
    font-weight: bold;
}

.save-changes {
    display: none;
    background: transparent url('../img/developers/exclamation.png') no-repeat 5px 50%;
    padding: 5px 0 5px 30px;
    border: 1px solid #5D6C8C;
    margin: 5px;
}
.html-rtl .save-changes {
    background-position: 100% 50%;
    padding: 5px 25px 5px 0;
}
#add-author p {
    margin-bottom: 5px;
}
#add-author #add-error {
    background: transparent url('../img/developers/exclamation.png') no-repeat 5px 50%;
    color: #CC3333;
    padding: 5px 0 5px 30px;
    display: none;
}
.html-rtl #add-author #add-error {
    background-position: 100% 50%;
    padding: 5px 25px 5px 0;
}
#add-author #add-loading {
    display: none;
}

.edit-categories-box h4 img {
    vertical-align: middle;
    margin-right: 10px;
}
.html-rtl .edit-categories-box h4 img {
    margin-right: auto;
    margin-left: 10px;
}

#edit-properties-icon-table th {
    color: #2D3B58;
    font-size: 110%;
}
#edit-properties-icon-table td {
    vertical-align: top;
}
#edit-properties-icon-table #addon-icon.deleted {
    opacity: .25;
    filter: alpha(opacity=25);
}

#edit-versions-targetapps-table {
    width: 60%;
    margin: 0 auto;
}
#edit-versions-targetapps-table .appname {
    font-weight: bold;
    color: #2D3B58;
}

#edit-versions-targetapps-table .inline-delete-button img {
    padding-top: 4px;
}
#new-app-picker {
    padding-left: 20px;
    display: none;
}
.html-rtl #new-app-picker {
    padding-left: auto;
    padding-right: 20px;
}

table .inline-delete-button img {
    padding-bottom: 4px;
}

a.filelink {
    background: transparent url('../img/developers/versions_link.png') no-repeat left;
    padding-left: 20px;
}
.html-rtl a.filelink {
    background-position: right;
    padding-left: auto;
    padding-right: 20px;
}

#files-table .inline-delete-box .remove-button {
    background-image: url('../img/developers/versions_delete.png');
}
#edit-versions-targetapps-table .inline-delete-box .remove-button {
    background-image: url('../img/developers/versions_compat_remove.png');
}
#author-table .inline-delete-box .remove-button {
    background-image: url('../img/developers/edit_authors_delete.png');
}

/* Previews */
.replace-preview {
    margin: 10px 0;
    padding: 10px 5px;
    background-color: #FFFFFF;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.replace-preview input {
    margin-left: 20px;
}
.html-rtl .replace-preview input {
    margin-left: auto;
    margin-right: 20px;
}
#content-main .replace-preview p {
    margin-bottom: 0;
}
#add-preview-box .add-button {
    background-image: url('../img/developers/preview_add.png');
}
.preview-buttons {
    text-align: right;
}
.html-rtl .preview-buttons {
    text-align: left;
}
.preview-add-button-description {
    text-align: right;
}
.html-rtl .preview-add-button-description {
    text-align: left;
}

/* Change Status Page */
div.status {
    font-size: 115%;
}
h4.status span {
    font-weight: bold;
}
.status-0 {
    color: gray;
}
.status-1,
.status-2,
.status-3 {
    color: navy;
}
.status-4 {
    color: green;
}
.status-5 {
    color: red;
}

.inactive-0 {
    color: green;
}
.inactive-1 {
    color: red;
}

.actions {
    width: 100%;
}
.actions .action {
    text-align: left;
    vertical-align: middle;
    min-width: 25%;
    padding-bottom: 5px;
}
.html-rtl .actions .action {
    text-align: right;
}
.actions .description {
    color: #5D6C8C;
}

.nominate.add-button {
    background-image: url('../img/developers/status_nominate.png');
}
.complete.add-button {
    background-image: url('../img/developers/tick.png');
}
.make-active.add-button {
    background-image: url('../img/developers/status_active.png');
}
.make-inactive.add-button {
    background-image: url('../img/developers/status_inactive.png');
}

.to-sandbox.add-button {
    background-image: url('../img/developers/arrow_down.png');
}
.to-public.add-button {
    background-image: url('../img/developers/arrow_up.png');
}

.criteria {
    margin-left: 10px;
}
.html-rtl .criteria {
    margin-left: auto;
    margin-right: 10px;
}
.criteria li {
    list-style: none;
    padding-left: 20px;
}
.html-rtl .criteria li {
    padding-left: auto;
    padding-right: 20px;
}
.criteria .pass {
    background: url('../img/developers/tick.png') no-repeat left center;
}
.criteria .fail {
    background: url('../img/developers/cross.png') no-repeat left center;
}
.criteria .meh {
    background: url('../img/developers/asterisk_yellow.png') no-repeat left center;
}
.html-rtl .criteria .pass,
.html-rtl .criteria .fail,
.html-rtl .criteria .meh {
    background-position: right center;
}

.pretty-table {
    width: 100%;
}
.pretty-table th {
    color: #555555;
}
.pretty-table td img,
.pretty-table td {
    vertical-align: middle;
}
.pretty-table td,
.pretty-table th {
    padding: 5px;
}
.pretty-table .alt td {
    background-color: #FFFFFF;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.inline-delete-button {
    border: 1px solid transparent;
    border-bottom: none;
}
.inline-delete-button.uses-image.open {
    background-color: #FFA5A5;
    text-align: center;
    border: 1px solid #CC3333;
    border-bottom: none;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-radius: 6px 6px 0 0;
}
.inline-delete-button.uses-button.open .remove-button.trigger {
    background-color: #FFA5A5;
    border: 1px solid #CC3333;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-radius: 6px 6px 0 0;
}
.inline-delete-box {
    position: absolute;
    z-index: 10;
    display: none;
    margin-left: -378px;
    padding: 10px;
    width: 380px;
    color: #2D3B58;
    background-color: #FFA5A5;
    border: 1px solid #CC3333;
    -moz-border-radius: 6px 0 6px 6px;
    -webkit-border-radius: 6px;
    -webkit-border-top-right-radius: 0;
    border-radius: 6px 0 6px 6px;
}
.html-rtl .inline-delete-box {
    margin-left: auto;
    margin-right: -378px;
    -moz-border-radius: 0 6px 6px 6px;
    -webkit-border-radius: 6px;
    -webkit-border-top-left-radius: 0;
    border-radius: 0 6px 6px 6px;
}
.uses-button .inline-delete-box {
    right: 0;
    margin: 2px 22px 0 0;
    width: 50%;
}
.html-rtl .uses-button .inline-delete-box {
    right: auto;
    left: 0;
    margin: 2px 0 0 22px;
}
.inline-delete-box p {
    margin: 0 !important;
    padding: 0;
    text-align: center;
}
.inline-delete-box .remove-button {
    border-color: #CC3333;
    color: #2D3B58;
}
.inline-delete-box .button {
    color: #2D3B58;
}

.graybox.spaced {
    margin-bottom: 10px;
}
.field h4 {
    border-bottom: 1px solid #2D3B58;
}
.field h5 {
    font-weight: bold;
    margin-top: 1em;
    font-size: 110%;
}
.field label {
    display: block;
    margin-bottom: 3px;
}
.field ul {
    list-style-type: disc;
    margin-top: 10px;
}
.field textarea {
    border: 1px solid #1D587F;
}
#content-main p.smallmargin {
    margin: .5em 0;
    padding: 0;
}
p.indented,
label.indented {
    text-indent: 2em;
}

.preview-box .error-message {
    display: none;
    background-image: url('../img/developers/preview_delete.png');
}
.preview-box.errors .error-message {
    display: block;
}

.notice-success {
    border: 1px solid green;
    background: lightgreen url('../img/stats/tick.png') no-repeat 5px 50%;
    margin-bottom: 5px;
    padding: 5px 5px 5px 30px;
}
.html-rtl .notice-success {
    background-position: 100% 50%;
    padding: 5px 25px 5px 5px;
}
.notice-success span {
    font-weight: bold;
}

.notice-error {
    border: 1px solid red;
    background: #FFA5A5 url('../img/developers/exclamation.png') no-repeat 5px 50%;
    margin-bottom: 5px;
    padding: 5px 5px 5px 30px;
}
.html-rtl .notice-error {
    background-position: 100% 50%;
    padding: 5px 25px 5px 5px;
}
.notice-error span {
    font-weight: bold;
}

#content-main .notice-success ul,
#content-main .notice-error ul,
#content-main .notice-success li,
#content-main .notice-error li {
    margin-bottom: 0;
}

.notice {
    background-color: #FFFF99;
    border: 1px solid gray;
    padding: 5px;
    margin-bottom: 5px;
}
.notice span {
    font-weight: bold;
}

.notice.noscript {
    padding-left: 30px;
    background: #FFFF99 url('../img/developers/noscript.png') no-repeat 5px 50%;
}
.html-rtl .notice.noscript {
    padding-left: auto;
    padding-right: 30px;
    background-position: 100% 50%;
}

.notice.no-privs-box {
    padding-left: 30px;
    background: #FFFF99 url('../img/developers/privileges.png') no-repeat 5px 50%;
    display: none;
}
.html-rtl .notice.no-privs-box {
    padding-left: auto;
    padding-right: 30px;
    background-position: 100% 50%;
}

#content-main.no-privs .no-privs-box {
    display: block;
}
#content-main.no-privs .inline-delete-button,
#content-main.no-privs .add-button,
#content-main.no-privs .action-button,
#content-main.no-privs .delete-area,
#content-main.no-privs .translation-button,
#content-main.no-privs .require-privs,
#content-main.no-privs .edit-button,
#content-main.no-privs .remove-button {
    display: none;
}
.version-delete-area {
    text-align: right;
}
.html-rtl .version-delete-area {
    text-align: left;
}

#content-main.no-privs input,
#content-main.no-privs select,
#content-main.no-privs textarea {
    background-color: #EEEEEE;
}

/* Developers Global */
div.error {
    background: #ffa5a5;
    border: 1px solid red;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin: 5px 0 5px 0;
}
div.error_message {
    color: red;
    font-weight: bold;
}
.form_error {
    background: #ffa5a5;
    border: 1px solid red;
}

/* developers/index */
/* 3.2 new */
.sub div { background: none; }
.sub div.addon-container { background: transparent url("../img/addon-tl.png") left top no-repeat; }
.sub div { margin: 0; padding: 0; }
.sub div.addon-container { margin-left: -1px; padding: 14px 20px 8px; }
.sub .vex { left: 0; }
.html-rtl .sub .vex { left: 0; }

#summary h4 img {
    float: left;
    padding-right: 10px;
}
.html-rtl #summary h4 img {
    float: right;
    padding-right: auto;
    padding-left: 10px;
}
#summary p {
    padding: 5px;
    clear: left;
}
.html-rtl #summary p {
    clear: right;
}

/*** =Extra content ***/
.action-bar {
    float: right;
    width: 180px;
    margin-bottom: 1em;
    border: 1px solid #d8dcdf;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.html-rtl .action-bar {
    float: left;
}
.action-bar  ul {
    margin: 10px !important;
    list-style: none;
}
.action-bar ul li {
    padding-left: 20px;
}
.html-rtl .action-bar ul li {
    padding-left: auto;
    padding-right: 20px;
}

.addon-details h3 img {
    vertical-align: middle;
}

#contentWindow {
    width: 100%;
    height: 500px;
    overflow: auto;
    border: none;
}
div.disabled {
    color: gray !important;
}
.addonHeader {
    cursor: pointer;
    font-size: 16px;
}
div.summaryBar {
    border: 1px solid #eee;
    white-space: nowrap;
}
.summaryBar img {
    vertical-align: middle;
    border: 0px;
    margin-left: 10px;
}
.html-rtl .summaryBar img {
    margin-left: auto;
    margin-right: 10px;
}
.summaryBar div {
    /* IE hack */
    zoom: 1;
    display: inline;
}
.summaryBar div {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
    line-height: 2;
    font-size: 12px;
}
.summaryBar .downloadcount {
    line-height: 1;
    font-size: 12px;
    max-height: 35px;
}
.summaryBar .downloadcount span {
    font-size: 10px;
}
.summaryBar a:link,
.summaryBar a:visited,
.summaryBar a:active {
    text-decoration: none;
}

/* developers/add */
div.notice {
    background-color: #FFFF99;
    padding: 5px;
}
div.greenNotice {
    background-color: #CCFFCC;
    padding: 5px;
}
#developersForm {
    padding-left: 15px;
}
.html-rtl #developersForm {
    padding-left: auto;
    padding-right: 15px;
}
#submissionHelp {
    text-align: center;
}
.corner-box h1,
.corner-box h2,
.corner-box h3,
.corner-box h4,
.corner-box h5 {
    color: #3c475b;
}
#developersForm div {
    margin-top: 15px;
}
#developersForm label {
    border-bottom: 1px dashed #eee;
    float: left;
    width: 14em;
}
.html-rtl #developersForm label {
    float: right;
}
#developersForm ul.rightlist li {
    list-style: none;
    padding-left: 11em;
}
.html-rtl #developersForm ul.rightlist li {
    padding-left: auto;
    padding-right: 11em;
}
#developersForm ul.rightlist li:first-child {
    padding-left: 0;
}
.html-rtl #developersForm ul.rightlist li:first-child {
    padding-left: auto;
    padding-right: 0;
}
#developersForm div div.platforms label {
    float: left;
    border: none;
    font-style: italic;
    width: 14em;
    text-align: right;
}
.html-rtl #developersForm div div.platforms label {
    float: right;
    text-align: left;
}
#developersForm label.nofloat {
    float: none;
    margin-left: 10px;
    border: none;
}
.html-rtl #developersForm label.nofloat {
    margin-left: auto;
    margin-right: 10px;
}
#developersForm label.normal {
    float: none;
    border: none;
}
#developersForm div.description {
    font-style: italic;
    margin-left: 14em;
}
.html-rtl #developersForm div.description {
    margin-left: auto;
    margin-right: 14em;
}
#developersForm .spaced {
    margin-left: 14em;
}
.html-rtl #developersForm .spaced {
    margin-left: auto;
    margin-right: 14em;
}
#developersForm input.vmiddle {
    vertical-align: middle;
}
#developersForm input,
#developersForm select,
#developersForm textarea {
    margin-left: 5px;
}
.html-rtl #developersForm input,
.html-rtl #developersForm select,
.html-rtl #developersForm textarea {
    margin-left: left;
    margin-right: 5px;
}
#developersForm select {
    border: 1px solid #eee;
}
#developersForm h3 {
    font-weight: bold;
}
div.addonName {
    padding-left: 20px;
    font-size: 14px;
    font-style: italic;
}
div.addonName {
    padding-left: auto;
    padding-right: 20px;
}
.buttonBox input {
    margin: 10px;
}
.buttonBox input:hover {
}
.buttonBox input[type=button] {
    cursor: pointer;
}
.buttonBox .cancel:hover {
}
#categoryDescription {
    vertical-align: top;
    padding-left: 20px;
}
.html-rtl #categoryDescription {
    padding-left: auto;
    padding-right: 20px;
}
#afterDescription {
    clear: both;
    padding-top: 15px;
}
#developersForm div.breaklessDivider {
    height: 15px;
    background: #fff url(../img/divider.gif) no-repeat scroll center;
    border: 0;
    margin-top: 15px;
}
#developerAgreement blockquote {
    margin: 10px 25px;
}
#agreementButtons {
    text-align: center;
}
#agreementButtons input {
    padding: 2px;
}
#AddonAddontypeId {
    width: 10em;
}
/* localebox element */
#locale-box {
    background: url(../img/developers/locale-background-selected.png) repeat-x;
    height: 1.5em;
    width: 100%;
    margin: 0;
    padding-bottom: .5em;
    line-height: normal;
    height: 65px;
}
#locale-box span {
    background: url(../img/developers/locale-background-selected.png) repeat-x;
    float: left;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    width: 4em;
    padding: .4em;
    border-right: 1px solid #eee;
}
#locale-box span {
    float: right;
    border-right-width: 0;
    border-left: 1px solid #eee;
}
#locale-box span:hover,
#locale-box span.selected {
    background: url(../img/developers/locale-background-hover.png) repeat-x;
}

/* developers/editversion */
#targetApps select {
    width: 100%;
}
#fileList,
#targetApps {
    margin: 0 0;
}
#targetApps td.separator,
#fileList td.separator {
    padding: 0 15px;
}
#license-translationbox {
    margin-top: 1em;
}

/* developers/tshirtrequest  */
#tshirtRequestForm {
    padding-left: 15px;
}
.html-rtl #tshirtRequestForm {
    padding-left: auto;
    padding-right: 15px;
}

#tshirtRequestForm div {
    margin-top: 15px;
}

#requestTShirtButton {
    margin-left: 14em;
}
.html-rtl #requestTShirtButton {
    margin-left: auto;
    margin-right: 14em;
}

/** tags styles  **/

.addon-tags .usertag .tagitem {
	padding-left: 20px;
	background-image: url(../../img/amo2009/icons/icons.png);
	background-repeat: no-repeat;
	background-position: 0px -600px;
}

.addon-tags .developertag .tagitem {
	padding-left: 20px;
	background-repeat: no-repeat;
	background-image: url(../../img/amo2009/icons/tag_green.png);
}


.addon-tags {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

.addon-tags li .removetag {
	display:none;
}
.addon-tags li.hover .removetag,
#tags .nojs li .removetag {
	display:inline;
}

#addtagbutton {
	-moz-border-radius-bottomleft:13px;
	-moz-border-radius-bottomright:13px;
	-moz-border-radius-topleft:13px;
	-moz-border-radius-topright:13px;
	background-color:#73B9FF;
	background-image:url(../../img/amo2009/bg/button-blue.jpg);
	background-position:center center;
	background-repeat:repeat-x;
	border:1px solid #258BFF;
	color:#FFFFFF;
	cursor:pointer;
	font-family:helvetica,arial,sans-serif;
	font-size:1em;
	margin:0.3em 0;
	overflow:visible;
	padding:0 0.6em 0 0.5em;
	text-decoration:none;
	text-shadow:-1px -1px 1px #196CF2;
	vertical-align:middle;
	white-space:nowrap;
}

#tags #tagMessage {
	background-color: #FFFFFF;
	color:#666666;
	display:block;
	font-size:0.769em;
	font-weight:normal;
	line-height:1em;
	text-shadow:1px 1px 1px #FFFFFF;
	text-transform:uppercase;
	padding: 4px;
}

/* New icons for profile and contributions */
/* Stolen from amo2009/main.css */
span.new {
    padding: 0.2em 0.5em;
    background-color: #305083;
    color: white;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-image: url(../../img/amo2009/bg/heading-dark-blue.jpg);
    background-repeat: repeat-x;
    background-position: bottom left;
    border:  1px solid #021437;
    text-transform: uppercase;
    font-size: 0.611em;
}

.edit-profile, .edit-contributions {
    white-space: nowrap;
}

/* Developer profile & contributions page. */
#create-dev-profile button {
    margin-top: 1em;
}

.button-holder {
    text-align: center;
}

.intro #contributions,
.intro #dev-profile {
    display: none;
}

#currently.asking {
    background-color: #e6fae0;
    border: 1px solid #d5e6ce;
}

#currently.not-asking {
    background-color: #fbfbfb;
    border: 1px solid #e6e6e6;
}

#currently.asking button {
    color: #2e8d23;
}

#currently.not-asking button {
    color: #1d587f;
}

#currently p:last-of-type {
    float: right;
}

#currently p:first-of-type {
    float: left;
}

button.link {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 100%;
}

button.link span {
    text-decoration: underline;
}

#contributions label {
    font-weight: bold;
}

#contributions input[type=radio] + label {
    font-weight: normal;
}

#contrib-account div {
    float: left;
}

#contrib-account div:nth-of-type(3) {
    margin: 0 2em;
}

#contributions form input:not([type=hidden]) + p {
    font-size: 90%;
}

#currently {
    font-size: 90%;
    padding: 0 1em;
    margin: 1em 0;
}

#currently p {
    padding: 0;
    margin: 0.5em 0;
}

ul.radio {
    list-style-type: none;
    margin: 0;
}

ul.radio label {
    display: inline;
}

ul.radio input {
    margin-left: 0;
}

/* Disable the icon, overlay the NEW! indicator. */
#sidebar .edit-contributions,
#sidebar .edit-profile {
    background: none;
}

/* This is a stupid hack.  Take the NEW! indicator out of the flow
 * and position it where it needs to be.  If the devcp wasn't using absolute
 * positions and hardcoded widths for columns, this would be unnecessary.
 */
#sidebar .edit-contributions .new,
#sidebar .edit-profile .new {
    position: absolute;
    left: 2em;
}
.html-rtl #sidebar .edit-contributions .new,
.html-rtl #sidebar .edit-profile .new {
    position: absolute;
    left: 13em;
