/* Editors Global */
div.error {
    background: #ffa5a5;
    border: 1px solid red;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin: 5px 0 5px 0;
}
div.error_message {
    color: red;
    font-weight: bold;
}
.form_error {
    background: #ffa5a5;
    border: 1px solid red;
}
/* editors/queue */
#tabTable {
    width: 100%;
    margin-top: 17px;
}
#tabTable #spacer { width: 25%;
    border-bottom: 1px solid black;
}
#tabTable #pending,
#tabTable #nominated,
#tabTable #reviews {
    border-bottom: 1px solid black;
    text-align: right;
    vertical-align: bottom;
}
#tabTable .tab {
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}
#tabTable .selected {
    background-color: #eeeeee;
}
.queueHeader td{
    font-weight: bold;
    border-bottom: 1px solid #888;
}
#reviewSuccess {
    background: #b8f3c4;
    border: 1px solid green;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin: 5px 0 5px 0;
}

#filterBox {
    border: 1px solid #eeeeee;
    background: #ffffee;
    text-align: center;
}
#filterHeader {
    font-weight: bold;
    border-bottom: 1px dashed #eeeeee;
    cursor: pointer;
}
#filterTable {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}
#filterTable div.group {
    display: -moz-inline-box;
    display: inline-block;
    margin: 10px;
}
#filterTable div.left {
    text-align: left;
}
#filterTable div.left div {
    margin: 5px 0;
}
#filterTable div.left label {
    float: left;
    width: 150px;
}
#filterTable div.buttons {
    clear: both;
}
input#FilterAddonOrAuthor {
    width:250px;
}
#sessionNotice {
    text-align: center;
    font-style: italic;
    font-size: 10px;
}
.emptyQueue {
    text-align: center;
}
#helpfulLinks {
    text-align: right;
}

/* editors/review */
.reviewnav {
    float: right;
    display: block;
    min-width: 200px;
    text-align:center;
    margin-right:20px;
}
.reviewnav a {
    padding: .5em;
    margin-top: .5em;
}
.reviewheader {
    margin-top: 50px;
}
.headerboxes {
    width: 31%;
    float: left;
}
.editorComment {
    margin-top: 4px;
    padding: 4px 6px 2px 6px;
    border: 1px solid #ddd;
}
.commentHeader {
    font-weight: bold;
}
.commentDepth0 .commentHeader {
    background: url('../img/icn-collapse.png') no-repeat top right;
}
.html-rtl .commentDepth0 .commentHeader {
    background-position: top left;
}
.commentDepth0 .commentHeader.collapsed {
    background-image: url('../img/icn-expand.png');
}
.commentSubheader {
    font-style: italic;
}
.commentFooter {
    margin: 6px 0;
}
.html-ltr .editorComment blockquote {
    margin-left: 0;
    border-left: 2px solid #aaa;
    padding-left: 1em;
}
.html-rtl .editorComment blockquote {
    margin-right: 0;
    border-right: 2px solid #aaa;
    padding-right: 1em;
}
#editorCommentForm {
    margin: 10px 0;
}
#header2 {
    border-right: 1px solid #888;
    border-left: 1px solid #888;
}
#header2, #header3 {
    padding-left: 5px;
}

#headerbox ul {
    margin-top: 0;
}
#headerbox li, #files {
    list-style: none;
    margin-left: 0;
    text-indent: -2em;
}
#flags {
    margin-left: 0;
    margin-right: 0;
}
#flags li {
    list-style: none;
    display: inline;
}
.html-ltr #flags li { padding-left: 1em; }
.html-rtl #flags li { padding-right: 1em; }
#authors li:before {
    content: "\00BB \0020";
}
#categorylist li:before {
    content: "\00BB \0020";
}
#files li:before {
    content: "\00BB \0020";
}
#compatibility img {
    margin-right: 5px;
    vertical-align: middle;
}
#notes h3 {
    font-weight: bold;
    font-size: 14px;
}
#notes div {
    margin: 10px;
}
#notes .highlighted {
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid gray;
}
.fileCheckbox {
    vertical-align: middle;
}
#multipleNotice {
    color: red;
    font-weight: bold;
}
#links {
    text-align: center;
}
#links span {
    font-weight: bold;
    padding: 4px 0 6px 28px;
    margin-left: 10px;
}
#links #overview_link {
    margin-left: 0px;
    background: url('../img/developers/overview.png') no-repeat;
}
#links #history_link {
    background: url('../img/developers/history.png') no-repeat;
}
#links #previews_link {
    background: url('../img/developers/previews.png') no-repeat;
}
#links #homepage_link {
    background: url('../img/developers/homepage.png') no-repeat;
}
#links #edit_link {
    background: url('../img/edit.png') no-repeat;
}
#links #comments_link {
    background: url('../img/developers/comments.png') no-repeat;
}
#form { 
    margin: 15px 50px;
    border: 1px solid #999;
    background: #eeeeee; 
    text-align: center;
}
#form img {
    border: 0;
    vertical-align: middle;
}
#subform div {
    margin: 5px 0;
}
#commentsbox {
    padding: 5px;
}
#comments {
    padding: 5px;
    vertical-align: top;
}
#actionbox {
    padding: 5px;
}
.action_color {
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    color: black;
}
.action_bw {
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    color: gray;
}
.input {
    font-size: 12px;
    font-family: verdana, sans-serif;
    border: 1px dashed #999;
}
#os {
    float: left;
    width: 49%;
}
#apps {
    float: right;
    width: 49%;
}
#process {
    margin: 5px;
    font-weight: bold;
    vertical-align: middle;
}
.sectionHeader .name {
    text-align: left;
    float: left;
    width: 75%;
    font-weight: bold;
    font-size: 15px;
}
.sectionHeader .top {
    text-align: right;
    float: left;
    width: 24%;
}
.clear {
    clear: both;
}
#historyTable {
    width: 100%;
}
#historyTable #headerRow td {
    font-weight: bold;
    border-bottom: 1px solid gray;
}
#historyTable #notFound {
    font-style: italic;
    text-align: center;
}
.sectionTitle {
    font-variant: small-caps;
}
#flagsTitle,
#filesTitle {
    font-weight: bold;
}

/* editors/review markitup textarea editor */
.markItUp .markItUpButton1 a { background-image:url('../vendors/markitup/sets/markdown/images/bold.png'); }
.markItUp .markItUpButton2 a { background-image:url('../vendors/markitup/sets/markdown/images/italic.png'); }
.markItUp .markItUpButton3 a { background-image:url('../vendors/markitup/sets/markdown/images/list-bullet.png'); }
.markItUp .markItUpButton4 a { background-image:url('../vendors/markitup/sets/markdown/images/list-numeric.png'); }
.markItUp .markItUpButton5 a { background-image:url('../vendors/markitup/sets/markdown/images/quotes.png'); }
.markItUp .markItUpButton6 a { background-image:url('../vendors/markitup/sets/markdown/images/code.png'); }
.markItUp .markItUpButton7 a { background-image:url('../img/developers/tick.png'); }
.markItUp .markItUpButton8 a { background-image:url('../img/developers/help.png'); }

/* editors/review markitup popup help */
#helpBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #999;
    z-index: 10;
    opacity:0.7;
}
#markitupHelp {
    background: #fff;
    padding: 1.5em 2em;
    border: 3px solid #666;
    z-index: 15;
}
#markitupHelpClose {
    float: right;
    cursor: pointer;
}

/* editors/reviews_queue.thtml */
.review-reply {
    margin: .5em 0 0 3em;
}

.reviewAction {
    margin-top: 5px;
}
.reviewAction input {
    vertical-align: bottom;
}

/* editors/reviewlog */
.reviewEntryActive {
    background-color: #eeeeee;
}
.reviewComment {
    background-color: #ddddff;
    margin-bottom: 20px;
}

/* editors/log */
form#logFilter div {
    margin: 5px 0;
}

/* editors/featured */
table#features tr td {
    padding-left: 10px;
}
table#features tr.featureHeader,
table#features tr.queueHeader {
    text-align:left;
    padding-left:0px;

}
table#features tr.featureTypeHeader {
    text-align: right;
}
table#features tr td input[type=text] {
    width:80%;
}

table#features tr.extension {
    background-color: #d1ffff;
}
table#features tr.extension.even,
table#features tr.extension.odd {
    background-color: #eaffff;
}
table#features tr td img.featureadd,
table#features tr td img.featureremove {
    padding: 2px 3px 2px 2px;
}
table#features tr.theme {
    background-color: #ffe5d1;
}
table#features tr.theme.even,
table#features tr.theme.odd {
    background-color: #ffefef;
}
table#features tr.searchengine {
    background-color: #ffffd0;
}
table#features tr.searchengine.even,
table#features tr.searchengine.odd {
    background-color: #ffffef;
}
div.autocomplete {
    position:absolute;
    width:250px;
    background-color:white;
    border:1px solid #888;
    margin:0px;
    padding:0px;
}
div.autocomplete ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
    overflow:hidden;
    list-style-type:none;
    display:block;
    margin:0;
    padding:2px;
    height:16px;
    cursor:pointer;
    text-align: left;
}
.success {
    padding-left:5px;
    color: #060;
}
.failure {
    padding-left:5px;
    color: #f33;
}
/* flagged add-ons */
table#flagged tr.even { background-color: #eeeeff; }

/* editors/performance */
form#performanceFilter > div {
    margin: 5px;
}
input#user {
    width: 250px;
}
.performanceHeader {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 24px;
    font-size: 160%;
    color: #426a13;
    background: #abe071 url('../img/sprite.png?20090430') 0px 0px no-repeat;
    border-bottom: 1px solid #79be1b;
}
.performanceHeader.collapsible span {
    display: block;
    margin-left: -17px;
    padding-left: 17px;
    background: transparent url('../img/sprite.png?20090430') 0px -318px no-repeat;
}
.performanceHeader.collapsible.expanded span {
    background-position: 0px -261px;
}
#historyTable th {
    font-weight: bold;
    border-bottom: 1px solid gray;
}
#weeklyTable th {
    font-weight: bold;
    border-bottom: 1px solid gray;
}
th.numeric {
    text-align: right;
}
td.numeric {
    text-align: right;
}
th.headerSort { 
    cursor: pointer; 
    background-image: url('../img/developers/sort-bg.gif'); 
    background-repeat: no-repeat; 
    background-position: center right; 
    padding-right: 20px; 
    background-color: #e6eeee;
}
th.headerSortDown { 
    background-image: url('../img/developers/sort-asc.gif'); 
    background-color: #ccccff; 
}
th.headerSortUp { 
    background-image: url('../img/developers/sort-desc.gif'); 
    background-color: #ccccff; 
}
#tabTable #details,
#tabTable #charts {
    border-bottom: 1px solid black;
    text-align: right;
    vertical-align: bottom;
}
.html-rtl #tabTable #details,
.html-rtl #tabTable #charts {
    text-align: left;
}
#performanceHeader h3 {
    margin-left: 180px;
}
#performanceUserSelect {
    float:right;
}
.html-rtl #performanceUserSelect {
    float:left;
    margin-left: 180px;
}
#performancePieContainer {
    width: 200px;
    margin-top: 10px;
    float: left;
    clear: left;
}
.html-rtl #performancePieContainer {
    float: right;
    clear: left;
}
#performancePieContainer h4,
#performancePieLegendContainer h4 {
    margin-bottom: 1.0em;
}
#performancePieContainer div {
    margin-bottom: 1.5em;
}
#performancePieLegendContainer {
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}
.html-rtl #performancePieLegendContainer {
    float: right;
    margin-left: 0;
    margin-right: 30px;
}
#performancePieLegend ul {
    margin: 0;
    padding: 0;
}
#performancePieLegend ul li {
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0.1em;
    line-height: 1.5em;
    list-style: none;
    cursor: pointer;
    width: 28em;
}
.html-ltr #performancePieLegend ul li span { padding-left: 0.2em; }
.html-rtl #performancePieLegend ul li span { padding-right: 0.2em; }
#performancePieLegend ul li.col2 {
    margin-left: 29em;
    width: auto;
}
.html-rtl #performancePieLegend li.col2 {
    margin-left: 0;
    margin-right: 29em;
}
#performancePieLegendControl {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
}
#performancePieLegendControl li {
    display: inline;
    list-style: none;
    cursor: pointer;
    line-height: 1.5em;
}
.html-ltr #performancePieLegendControl li {
    float: left;
    border-left:1px solid #666666;
    padding-left: 1em;
    margin-right: 1em;
}
.html-rtl #performancePieLegendControl li {
    float: right;
    border-right:1px solid #666666;
    padding-right: 1em;
    margin-left: 1em;
}
.html-ltr #performancePieLegendControl li:first-child { border-left: 0; padding-left: 0; }
.html-rtl #performancePieLegendControl li:first-child { border-right: 0; padding-right: 0; }
