#container {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
}
#f8_body {
    width: 100%;
}
#addonbox {
    float: left;
    width: 75%;
}
#addonsidebar {
    margin-left: 75%;
}
ul.browselist {
    list-style: none;
    padding-left: 10px;
    margin-top: 0px;    
}
div.divider {
    height: 15px;
    background: #fff url(../img/divider.gif) no-repeat scroll center;
    border: 0;
    margin-top: 5px;
}

#filterbox,
#filterbox select,
#filterbox input {
    font-size: 12px;
}
#filterbox input {
    vertical-align: middle; 
}
#filterbox {
    padding-bottom: 5px;
}

ul.browselist li.selected {
    font-weight: bold;
}
#addonlist div.addon {
    padding-bottom: 5px;
}
#addonlist div.addon div.name {
    
}
#addonlist div.addon div.summary {
    font-size: 10px;
}

#addonwindow {
    background: url('../img/f8_box.png') no-repeat;
    position: absolute;
    top: 20%;
    left: 20%;
    height: 320px;
    width: 340px;
    padding: 10px;
}
#addonwindow .name {
    font-weight: bold;
    font-size: 14px;
}
#addonwindow .authors {
    font-size: 12px;
}
#addonwindow .details {
    font-size: 12px;
    padding-top: 5px;
}
#addonwindow img {
    vertical-align: middle;
    line-height: 5;
}
#addoninstall {
    margin: 0px 55px;
    padding: 15px 0px;
}
#add_fav {
    padding-left: 10px;
    background: url('../img/smallMedal.png') no-repeat center left;
}
div.samelevel div.left {
    text-align: left;
    float: left;
}
div.samelevel div.right {
    text-align: right;
}
