/* Global */
div.error {
    background: #ffa5a5;
    border: 1px solid red;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin: 5px 0 5px 0;
}

/* summary */
table.stats {
    float: none;
    width: 100%;
}
table.log {
    float: none;
}

table.stats td.title {
    width: 13em;
    font-weight: bold;
}
table.stats td.value {
    width: 7em;
}

/* pages */
table.stats th {
    text-align: left;
}
table.stats td.translated {
    color: green;
}
table.stats td.notTranslated {
    color: red;
}

/* other */
table.translatedSection {
    width: 100%;
}
table.translatedSection th {
    border-bottom: 1px solid gray;
}
table.translatedSection td {
    padding: 5px;
    font-size: 80%;
    vertical-align: top;
}
table.translatedSection td.field {
    font-weight: bold;
}
table.translatedSection td.enus {
    border-left: 1px solid gray;
}
table.translatedSection td.localized {
    border-left: 1px solid gray;
}
table.translatedSection input {
    width: 100%;
}
table.translatedSection textarea {
    width: 100%;
    height: 8em;
}
