/*----------------------------------------------------------------------------
Print CSS file for Addons.mozilla.org
Created by Craig Cook - focalcurve.com
				on December 28, 2007
-----------------------------------------------------------------------------*/

/* =Hidden elements */
#nav-access, h1, #nav-user, #search-form, #other-apps { display: none; }
#sidebar, #footer-lang-form, .pitch, .extra .view-all { display: none; }
.install-button, .exp-loggedout, .learn-more, .more-from { display: none; }
#form-review, .pagination, #form-listcontrol { display: none; }

/* =Body */
body { font: 12pt/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 0 .25in; background-color: #fff; color: #000; }
h2, h3, h4, h5, h6 { font-family: Georgia, "Times New Roman", Times, serif; margin-bottom: .25em; }
h2 { font-size: 15pt; }
h3 { font-size: 14pt; }
h4, h5, h6 { font-size: 100%; }
a img { border: none; }

#page-title { height: 120px; }
#page-title h2 { position: relative; padding-left: 125px; }
#page-title h2 img { position: absolute; top: 0; left: 0; }
#page-title p.page-intro { color: #666; padding-left: 125px; font-size: 90%; }

.addon { border: 1px solid #ccc; padding: .5em 1em .5em 240px; margin-bottom: 1em; position: relative; }
.addon .preview-img { position: absolute; top: .5em; left: 1em; }
.author { margin-top: 0; }
.name a, .author a { text-decoration: none; }
.name a:after, .author a:after, .extra a:after, #nav-legal a:after { content: " [" attr(href) "] "; font-size: 90%; }
.addon .flag { position: absolute; top: -1px; right: -1px; margin: 0; padding: .2em 1em; border: 3px double #000; }
.rec .flag { color: #360; }
.exp .flag { color: #900; }

#content-main { padding-right: 35%; position: relative; }
#content-extra { width: 30%; position: absolute; right: 0; top: 0; }

#content.search #content-main, #content.category #content-main { padding-right: 0; }

.extra ul { margin-left: 0; }

#footer { color: #666; font-size: 90%; margin-top: 1em; border-top: 3px double #ccc; }

.addon-images { list-style: none; margin: 0 0 1em; padding: 0; }
.addon-images li { display: inline; margin-right: 10px;  }
.addon-images a img { vertical-align: top; margin-bottom: 10px; }

.addon-reviews { list-style: none; margin: 0 0 1em; padding: 0; }
.addon-reviews li { border: 1px solid #ccc; padding: .5em 1em; margin-bottom: 1em; }
.addon-reviews blockquote { margin: 0; }

#addon-listing { list-style: none; margin: 0; padding: 0; }
