#breadcrumbs {
    background: #F7F8F8 url("../img/sandbox.png") bottom repeat;
}
.install-button a:link span.install-green-button,
.install-button a:visited span.install-green-button,
.install-button a:hover span.install-green-button,
.install-button a:active span.install-green-button {
    background: url(../img/rustico/install-button-red.png) no-repeat bottom left;
} 

.install-button a:link,
.install-button a:visited,
.install-button a:hover,
.install-button a:active {
    background: url(../img/rustico/install-button-red.png) no-repeat top left;
}

.install-button a:hover span.install-green-button,
.install-button a:active span.install-green-button {
    background: url(../img/rustico/install-button-red.png) no-repeat bottom right;
}

.install-button a:hover,
.install-button a:active {
    background: url(../img/rustico/install-button-red.png) no-repeat top right;

}