/* summary */
table.stats {
    padding: 5px;
    float: left;
    margin-right: 20px;
}
table.log {
    padding: 5px;
    float: left;
}
table.stats td.heading,
table.log td.heading {
    background: #ddddff;
    font-weight: bold;
    text-align: center;
}
table.stats td.title {
    width: 10em;
    border-bottom: 1px solid gray;
}
table.stats td.value {
    background: #eeeeee;
    width: 4em;
    text-align: center;
    border-bottom: 1px solid gray;
}