body {
	font-family: Verdana;
	font-size: 12px;
}
div.groupdivider {
    border-bottom: 1px solid black;
    margin-top: 5px;
    height: 20px;
}

div.groupdivider div.header {
    font-weight: bold;
    font-size: 14px;
    float: left;
    width: 49%;
}
div.groupdivider div.victim {
    float: right;
    width: 49%;
    text-align: right;
}

div.pass {
	background: #CCFFCC;
}
span.pass {
	color: green;
	font-weight: bold;
}

div.fail {
	background: #FFCCCC;
}
span.fail {
	color: red;
	font-weight: bold;
}

a:link {
	color: black;
}
a:visited {
	color: gray;
}
a:active {
	color: black;
}
a:hover {
	text-decoration: none;
}

.menu {
    border-bottom: 1px solid black;
}
.name {
    font-size: 14px;
    font-weight: bold;
    color: navy;
}
.title {
    font-size: 20px;
    font-weight: bold;
}
.getit {
    font-size: 8px;
}
.items {
      float: right;
      font-weight: bold;
}
.items a:link {
    text-decoration: none;
}
.items a:visited {
    color: black;
    text-decoration: none;
}
.items a:active {
    color: black;
    text-decoration: none;
}
.items a:hover {
    color: gray;
    text-decoration: none;
}
.items .svn {
    color: navy;
}

.testlist li {
    list-style: none;
   	margin-left: 0;
	text-indent: -1em;
}
.testlist li.directory:before {
	content: "\00BB \0020";
}
.testlist li.file:before {
	content: "\203A \0000";
	margin-right: 2px;
}

.testlist li.directory a:link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.testlist li.directory a:visited {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

div.autocomplete {
    position:absolute;
    width:250px;
    background-color:white;
    border:1px solid #888;
    margin:0px;
    padding:0px;
}
div.autocomplete ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
    list-style-type:none;
    display:block;
    margin:0;
    padding:2px;
    height:16px;
    cursor:pointer;
    text-align: left;
}
