/*----------------------------------------------------------------------------
Typography CSS file for Addons.mozilla.org
Created by Craig Cook - focalcurve.com
				on December 30, 2007
-----------------------------------------------------------------------------*/

/*** =Reset defaults ***/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* Tables still need 'cellspacing="0"' in the markup. */
caption, th, td { text-align: left; font-weight:400; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

form ol, form ul { list-style: none; }
input, button, select, textarea { font-family: inherit; font-size: inherit; color: inherit; }

/*** =General elements ***/
body { font: 62.5%/1.6 Verdana, "Trebuchet MS", sans-serif; }
a:link { text-decoration: underline; }

h1, h2, h3, h4, h5, h6, caption, #rate-it legend { font-family: "Trebuchet MS", Helvetica, "Helvetica Neue", Arial, sans-serif; }

h2 { font-weight: bold; font-size: 140%; }
h3, caption { font-size: 140%; }
h4, #rate-it legend { font-size: 125%; }

dt { font-weight: bold; }
thead th { font-size: 95%; }

/*** =Site-notice ***/
#site-notice { font-size: 110%; }

/*** =Access nav ***/
#nav-access { list-style: none; font-size: 115%; }
#nav-access a:active, #nav-access a:focus { text-align: center; }

/*** =Header ***/
h4#moz { font-weight: bold; font-size: 130%; }

/* =Page title */
#page-title h1 { font-weight: bold; font-size: 300%; line-height: 1.2; }
#page-title h1 a { text-decoration: none; }
#page-title h2 { font-size: 220%; }
#page-title p.page-intro { line-height: 1.25; font-size: 125%; font-weight: bold; }

/* =User nav */
#nav-user { text-align: right; font-size: 115%; }
#nav-user a:link, #nav-user a:visited { text-decoration: none; }
#nav-user a:hover, #nav-user a:active, #nav-user a:focus { text-decoration: underline; }

/* =Other Applications */
#other-apps h3 { font-size: 100%; }
#nav-apps { list-style: none; font: bold 110% "Trebuchet MS", Helvetica, "Helvetica Neue", Arial, sans-serif; }
#other-apps.js #nav-apps { font-size: 130%; }
#nav-apps a { text-decoration: none; }

/*** =Search form ***/
#search-form { font-size: 100%; }
#search-form #search-query label, #search-form #query, #search-form #category { font-size: 140%; }
#search-form #search-category { white-space: nowrap; }

/*** =Footer ***/
#nav-legal { list-style: none; }
#footer-disclaimer { text-align: center; }

/*** =Content ***/
#content { font-size: 120%; }

/*** =Extra content ***/
#content-extra h3 { font-size: 110%; }
#content-extra .nav-addon h3 { font-size: 130%; }
#content-extra ul { font-size: 98%; }
#content-extra p.view-all { text-align: right; }

/*** =Categories ***/
#categories h3 { font-size: 120%; }
#cat-list { list-style: none; }
#categories a:link, #categories a:visited { text-decoration: none; }
#categories p { line-height: 1.4; }



/*** =Add-on boxes ***/
.addon .name { font-size: 180%; line-height: 1.2; font-weight: normal; }
.addon .author { font-size: 100%; }
.addon .name a, .addon .author a { text-decoration: none; }
.addon .name a:hover, .addon .author a:hover { text-decoration: underline; }
.addon .rating, .addon .stats, .addon .updated { font-size: 95%; }
.addon .stats em { font-style: normal; }
.addon .more-from { font-size: 90%; }
.addon .flag { /*text-transform: uppercase;*/ font-size: 100%; line-height: 1; }

/* =Primary featured add-on */
.main .name { font-size: 200%; }

/* =Secondary featured add-ons */
.sub .name { font-size: 150%; }
.sub .preview-img { text-align: center; }
.sub .desc { font-size: 98%; }

/* =Listing items */
#addon-listing { list-style: none; }
#addon-listing .author { font-size: 100%; }
#addon-listing .more { list-style: none; font-size: 95%; }

/*** =Install button ***/
.install-button { font: bold 120% "Trebuchet MS", Helvetica, "Helvetica Neue", Arial, sans-serif; }
.install-button a { text-decoration: none; }
.exp-loggedout, .exp-confirmed { font-size: 90%; }
.exp-loggedout .install-button a,
.exp-confirmed .install-button a { font-size: 110%; text-align: left; }

/*** =Pitch ***/
.pitch h3 { font-size: 100%; font-weight: bold; line-height: 1.2; }
.pitch h3 a { text-decoration: none; }
.pitch p { font-size: 95%; }

/*** =Landing pages ***/
#recommended .name { font-size: 160%; }
#content.landing #secondaries .sub .flag { font-size: 95%; }
#content.landing .more-addons h3 { font-size: 130%; }
#content.landing .more-addons ul { list-style: none; }
#content.browse .more-addons h3 { text-align: center; }
.browse-list a { text-decoration: none; font-weight: bold; }
#dictionaries tbody th { font-weight: bold; }

/*** =Detail page ***/
#addon-summary .name { font-size: 200%; }
.addon-cats { list-style: none; font-size: 95%; }
.addon-cats a:link, .addon-cats a:visited { text-decoration: none; }
.addon-cats a:hover, .addon-cats a:active, .addon-cats a:focus { text-decoration: underline; }
.addon-images, .addon-reviews { list-style: none; }
.addon-images a img { vertical-align: top; }
.addon-reviews .cite { font-size: 95%; }
#license a { font-size: 70%; }
.oldversion .license a { font-size: 80%; }

/* =Review form */
#form-review #review-submit { font-size: 90%; }

/* =reCaptchas */
#recaptcha_whatsthis { font-size: 90% }

/* =Star rating */
/*ul.star-rating { list-style: none; }*/

/* =More add-ons */
.more-addons h3 { line-height: 1.3; }
.more-addons h3 a.view { text-decoration: none; }
.more-addons h4 { font-size: 100%; }

/*** =Pagination ***/
.pages { list-style: none; text-align: left; }
.pagination p.count, .pagination p.perpage { text-align: right; }

/*** =Listing control bar ***/
#form-listcontrol { font-family: "Trebuchet MS", Helvetica, "Helvetica Neue", sans-serif; }
#form-listcontrol #per-page { font-size: 110%; font-weight: bold; }
#order-by button { text-align: center; }
#form-listcontrol #experimental label { font-size: 95%; line-height: 1.1; }


