/** header and main navigation bar */
.section {
    max-width: 75em;
    overflow: visible;
}

#title {
    margin-top: 1.5em;
    margin-bottom: .7em;
}

#aux-nav ul.change a.return {
    display: block;
    padding: 0.7em 1em 0.5em 1em;
}

#navbar a, #navbar a:active, #navbar a:hover, #navbar a:focus, #navbar a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#navbar {
    display: block;
    background-image: url(../../img/amo2009/bg/heading-dark-blue.jpg);
    background-repeat: repeat-x;
    background-position: bottom left;
    background-color: #305083;
    border:  1px solid #021437;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 1.5em 0;
    color: white;
    font-size: 1.231em;
    white-space: nowrap;
    overflow: hidden;
}
#navbar ul.top {
    overflow: visible;
}
#navbar li.top,
#navbar li.search {
    float: left;
    border-right: 1px solid #455c87;
    list-style: none;
}
#navbar li.top a.controller {
    display: block;
    padding: .5em 1.3em;
    margin: 0;
}
#navbar li.top a.controller {
    border-right: 1px solid #1e2e4c;
}
#navbar li.search {
    float: right;
    border: none;
}
#navbar li.top:hover,
#navbar li.top.selected {
    background-image: url(../../img/amo2009/bg/heading-dark-blue-highlighted.png);
}
#navbar li.top ul {
    display: none;
    position: absolute;
    z-index: 1;
    top: auto;
    margin-left: -1px;
}
#navbar li.top ul,
#navbar li.top ul li:last-child {
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
#navbar li.top:hover ul {
    display: block;
}
#navbar li ul li {
    background-image: url(../../img/amo2009/bg/heading-dark-blue-highlighted.png);
    background-repeat: repeat-x;
    background-position: bottom left;
    background-color: #305083;
    border-bottom: 1px solid #5a7297;
}
#navbar li ul li:hover {
    background-image: url(../../img/amo2009/bg/heading-dark-blue.jpg);
}
#navbar li ul li a {
    display: block;
    padding: .5em 1.3em;
    border-bottom: 1px solid #3f4f6a;
}
#navbar li.top ul li:last-child,
#navbar li.top ul li:last-child a {
    border: none;
}

#navbar li.search form {
    position: relative;
    padding: .3em .5em .1em 1.3em;
    margin: 0;
}
#navbar #query {
    background-image: url(../../img/developers/devhub_search.png);
    background-repeat: no-repeat;
    background-position: 0.3em center;
    background-color: white;
    color: #888;
    min-width: 15em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: .1em 0 .1em 1.6em;
    cursor: pointer;
}
.html-rtl #navbar #query {
    background-position: 98% center;
    padding: .1em 1.6em .1em 0;
}
#navbar #search-submit {
    margin: -.1em 0 .1em .1em;
    padding: 0 .0 .2em 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#6FB727;
    background-image:url(../../img/amo2009/bg/button-green.jpg);
    background-position:left center;
    background-repeat:repeat-x;
    border:1px solid #B9D999;
}
#navbar #search-submit img {
    width: 16px;
    height: 16px;
    background-image: url(../../img/developers/go-arrow.png);
    background-repeat: no-repeat;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    display: inline;
    border: none;
}
.html-rtl #navbar #search-submit img {
    background-image: url(../../img/developers/go-arrow_rtl.png);
}

/** content */
p.summary {
    font-size: 120%;
    line-height: 150%;
}
.secondary .highlight ul:last-child {
    margin-bottom: 0;
}

/* docs/reference */
#reference h3 {
    font-size: 180%;
}
#reference ul.reflist {
    padding: 0;
}
#reference ul.reflist li {
    border-bottom: inherit;
    padding: 1.5em;
}
#reference ul.reflist li:last-child {
    border: none;
}
#reference ul.reflist li .refname {
    margin-right: 1em;
    font-size: 130%;
    font-weight: bold;
}
#reference ul.reflist li p {
    margin-bottom: 0;
}

/** docs/policies, docs/casestudies */
.hubtext h1, .hubtext h2, .hubtext h3, .hubtext h4,
.hubtext h5 {
    font-family: georgia, serif;
    font-weight: normal;
    color: #011234;
    margin: .6em 0 .2em;
}
.hubtext h1 {
    font-size: 2em;
}
.hubtext h2 {
    font-size: 1.8em;
}
.hubtext h3 {
    font-size: 1.6em;
}
.hubtext h4 {
    font-size: 1.4em;
}
.hubtext h5 {
    font-size: 1.2em;
}
#policy-detail #license-disclosure {
    display: none;
}
#policy-detail ul {
    list-style: disc;
    margin-left: 2em;
}

/** docs/policies */
#policy-detail h1 {
    font-size: 2.154em;
    color: #C63717;
    margin: .5em 0;
}

/** docs/casestudies */
.casestudies .blocks .item {
    float: none;
    width: auto;
    height: auto;
    padding: 2em;
}
.casestudies .blocks .item .logo {
    float: left;
    width: 30%;
    text-align: right;
}
.html-rtl .casestudies .blocks .item .logo {
    float: right;
}
.casestudies .blocks .item .info {
    margin-left: 35%;
}
.html-rtl .casestudies .blocks .item .info {
    margin-left: 0;
    margin-right: 35%;
}
.casestudies .blocks .item .logo img {
    max-width: 100%;
    max-height: 7em;
}
.casestudies a.action {
    background-image: url(../../img/arr-next.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 1em;
}
.html-rtl .casestudies a.action {
    background-image: url(../../img/arr-prev.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-left: 0;
    padding-right: 1em;
}

#casestudy .secondary {
    width: 22%;
}
#casestudy .info {
    width: 22%;
    float: left;
}
.html-rtl #casestudy .info {
    float: right;
}
#casestudy .hubtext {
    margin: 0 25%;
}
#casestudy .hubtext img {
    max-width: 100%;
    border-right: 2px solid #C9E8F3;
    border-bottom: 2px solid #C9E8F3;
    padding: 0 .4em .4em 0;
    margin: 1em 0;
}
.html-rtl #casestudy .hubtext img {
    border-left: 2px solid #C9E8F3;
    border-right: none;
    padding: 0 0 .4em .4em;
}
#casestudy .pull {
    position: absolute;
    right: 0;
    max-width: 22%;
}
.html-rtl #casestudy .pull {
    left: 0;
    right: auto;
}
#casestudy img.pull {
    max-width: 22%;
    margin-top: 0;
}
#casestudy blockquote {
    margin: 1em;
    padding-left: .2em;
}
.html-rtl #casestudy blockquote {
    padding-left: 0;
    padding-right: .2em;
}
#casestudy blockquote:before {
    display: block;
    float: left;
    margin-left: -0.5em;
    margin-top: .3em;
    line-height: 0;
    height: 0;
    width: 0;
    color: #B5D9E5;
    font-family: georgia,sans-serif;
    font-size: 400%;
    content: '\201C';
}
.html-rtl #casestudy blockquote:before {
    display: none;
}
#casestudy blockquote p {
    margin-bottom: .5em;
    color: #868686;
    font-family: georgia,sans-serif;
}
#casestudy blockquote.pull {
    max-width: 19%;
}
#casestudy blockquote.pull:before {
    font-size: 500%;
}
#casestudy blockquote.pull p {
    font-size: 130%;
    line-height: 140%;
}
#casestudy .info .blocks .item {
    display: block;
    float: none;
    width: 90%;
    min-width: 0;
}
#casestudy .info img {
    max-width: 100%;
    max-height: 7em;
}
#casestudy .info .dotted,
#casestudy .info .detailspage {
    margin: 0 0 .5em 0;
    padding: 0 0 .5em 0;
}
#casestudy .info .dotted {
    border-bottom: 2px dotted #C9E8F3;
}
#casestudy .info .dotted strong {
    display: block;
}
#casestudy .info .dotted a.more {
    margin-left: 1em;
}
#casestudy .info .detailspage {
    margin-top: 1.5em;
}

/** docs/how-to */
.table-listing .item .main-info h4 {
    line-height: 1.3em;
}
.table-listing .item .main-info h4 .label {
    display: inline;
    font-family: georgia,serif;
    font-size: 1em;
    font-style: italic;
}

