/** header and main navigation bar */
.section {
    max-width: 75em;
}

#title {
    margin-top: 1.1em;
    margin-bottom: 0.1em;
}

#aux-nav ul.change a.return {
    display: block;
    padding: 0.7em 1em 0.5em 1em;
}

#navbar a, #navbar a:active, #navbar a:hover, #navbar a:focus, #navbar a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#navbar {
    display: block;
    background-image: url(../../img/amo2009/bg/heading-dark-blue.jpg);
    background-repeat: repeat-x;
    background-position: bottom left;
    background-color: #305083;
    border:  1px solid #021437;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 1.5em 0;
    color: white;
    font-size: 1.231em;
    white-space: nowrap;
    overflow: hidden;
}
#navbar ul.top {
    overflow: visible;
}
#navbar li.top,
#navbar li.search {
    float: left;
    border-right: 1px solid #455c87;
    list-style: none;
}
#navbar li.top a.controller {
    display: block;
    padding: .5em 1.3em;
    margin: 0;
}
#navbar li.top a.controller {
    border-right: 1px solid #1e2e4c;
}
#navbar li.search {
    float: right;
    border: none;
}
#navbar li.top:hover,
#navbar li.top.selected {
    background-image: url(../../img/amo2009/bg/heading-dark-blue-highlighted.png);
}
#navbar li.top ul {
    display: none;
    position: absolute;
    z-index: 1;
    top: auto;
    margin-left: -1px;
}
#navbar li.top ul,
#navbar li.top ul li:last-child {
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
#navbar li.top:hover ul {
    display: block;
}
#navbar li ul li {
    background-image: url(../../img/amo2009/bg/heading-dark-blue-highlighted.png);
    background-repeat: repeat-x;
    background-position: bottom left;
    background-color: #305083;
    border-bottom: 1px solid #5a7297;
}
#navbar li ul li:hover {
    background-image: url(../../img/amo2009/bg/heading-dark-blue.jpg);
}
#navbar li ul li a {
    display: block;
    padding: .5em 1.3em;
    border-bottom: 1px solid #3f4f6a;
}
#navbar li.top ul li:last-child,
#navbar li.top ul li:last-child a {
    border: none;
}

#navbar li.search form {
    position: relative;
    padding: .3em .5em .1em 1.3em;
    margin: 0;
}
#navbar #query {
    background-image: url(../../img/developers/devhub_search.png);
    background-repeat: no-repeat;
    background-position: 0.3em center;
    background-color: white;
    color: #888;
    min-width: 15em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: .1em 0 .1em 1.6em;
    cursor: pointer;
}
.html-rtl #navbar #query {
    background-position: 98% center;
    padding: .1em 1.6em .1em 0;
}
#navbar #search-submit {
    margin: -.1em 0 .1em .1em;
    padding: 0 .0 .2em 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#6FB727;
    background-image:url(../../img/amo2009/bg/button-green.jpg);
    background-position:left center;
    background-repeat:repeat-x;
    border:1px solid #B9D999;
}
#navbar #search-submit img {
    width: 16px;
    height: 16px;
    background-image: url(../../img/developers/go-arrow.png);
    background-repeat: no-repeat;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    display: inline;
    border: none;
}
.html-rtl #navbar #search-submit img {
    background-image: url(../../img/developers/go-arrow_rtl.png);
}

/** content */
p.summary {
    font-size: 120%;
    line-height: 150%;
}
.secondary .highlight ul:last-child {
    margin-bottom: 0;
}

/* docs/reference */
#reference h3 {
    font-size: 180%;
}
#reference ul.reflist {
    padding: 0;
}
#reference ul.reflist li {
    border-bottom: inherit;
    padding: 1.5em;
}
#reference ul.reflist li:last-child {
    border: none;
}
#reference ul.reflist li .refname {
    margin-right: 1em;
    font-size: 130%;
    font-weight: bold;
}
#reference ul.reflist li p {
    margin-bottom: 0;
}

/** docs/policies, docs/casestudies */
.hubtext h1, .hubtext h2, .hubtext h3, .hubtext h4,
.hubtext h5 {
    font-family: georgia, serif;
    font-weight: normal;
    color: #011234;
    margin: .6em 0 .2em;
}
.hubtext h1 {
    font-size: 2em;
}
.hubtext h2 {
    font-size: 1.8em;
}
.hubtext h3 {
    font-size: 1.6em;
}
.hubtext h4 {
    font-size: 1.4em;
}
.hubtext h5 {
    font-size: 1.2em;
}
#policy-detail #license-disclosure {
    display: none;
}
#policy-detail ul {
    list-style: disc;
    margin-left: 2em;
}

/** docs/policies */
#policy-detail h1 {
    font-size: 2.154em;
    color: #C63717;
    margin: .5em 0;
}

/** docs/casestudies */
.casestudies .blocks .item {
    float: none;
    width: auto;
    height: auto;
    padding: 2em;
}
.casestudies .blocks .item .logo {
    float: left;
    width: 30%;
    text-align: right;
}
.html-rtl .casestudies .blocks .item .logo {
    float: right;
}
.casestudies .blocks .item .info {
    margin-left: 35%;
}
.html-rtl .casestudies .blocks .item .info {
    margin-left: 0;
    margin-right: 35%;
}
.casestudies .blocks .item .logo img {
    max-width: 100%;
    max-height: 7em;
}
.casestudies a.action {
    background-image: url(../../img/arr-next.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 1em;
}
.html-rtl .casestudies a.action {
    background-image: url(../../img/arr-prev.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-left: 0;
    padding-right: 1em;
}

#casestudy .secondary {
    width: 22%;
}
#casestudy .info {
    width: 22%;
    float: left;
}
.html-rtl #casestudy .info {
    float: right;
}
#casestudy .hubtext {
    margin: 0 25%;
}
#casestudy .hubtext img {
    max-width: 100%;
    border-right: 2px solid #C9E8F3;
    border-bottom: 2px solid #C9E8F3;
    padding: 0 .4em .4em 0;
    margin: 1em 0;
}
.html-rtl #casestudy .hubtext img {
    border-left: 2px solid #C9E8F3;
    border-right: none;
    padding: 0 0 .4em .4em;
}
#casestudy .pull {
    position: absolute;
    right: 0;
    max-width: 22%;
}
.html-rtl #casestudy .pull {
    left: 0;
    right: auto;
}
#casestudy img.pull {
    max-width: 22%;
    margin-top: 0;
}
#casestudy .pull img {
    margin: 0 auto;
}
#casestudy .pull p.caption {
    margin: 0;
    padding: 0;
    color: #868686;
    font-style: italic;
    font-family: georgia, serif;
}
#casestudy blockquote {
    margin: 1em;
    padding-left: .2em;
}
.html-rtl #casestudy blockquote {
    padding-left: 0;
    padding-right: .2em;
}
#casestudy blockquote:before {
    display: block;
    float: left;
    margin-left: -0.5em;
    margin-top: .3em;
    line-height: 0;
    height: 0;
    width: 0;
    color: #B5D9E5;
    font-family: georgia,serif;
    font-size: 400%;
    content: '\201C';
}
.html-rtl #casestudy blockquote:before {
    display: none;
}
#casestudy blockquote p {
    margin-bottom: .5em;
    color: #868686;
    font-family: georgia,sans-serif;
}
#casestudy blockquote.pull {
    max-width: 19%;
}
#casestudy blockquote.pull:before {
    font-size: 500%;
}
#casestudy blockquote.pull p {
    font-size: 130%;
    line-height: 140%;
}
#casestudy .info .blocks .item {
    display: block;
    float: none;
    width: 90%;
    min-width: 0;
}
#casestudy .info img {
    max-width: 100%;
    max-height: 7em;
}
#casestudy .info .dotted,
#casestudy .info .detailspage {
    margin: 0 0 .5em 0;
    padding: 0 0 .5em 0;
}
#casestudy .info .dotted {
    border-bottom: 2px dotted #C9E8F3;
}
#casestudy .info .dotted strong {
    display: block;
}
#casestudy .info .dotted a.more {
    margin-left: 1em;
}
#casestudy .info .detailspage {
    margin-top: 1.5em;
}

/** docs/how-to */
.table-listing .item .main-info h4 {
    line-height: 1.3em;
}
.table-listing .item .main-info h4 .label {
    display: inline;
    font-family: georgia,serif;
    font-size: 1em;
    font-style: italic;
}

/** search */
#search #resultcount {
    font-size: 1.385em;
    margin-bottom: .5em;
}
#search #cse {
    border: 4px solid #B5D9E5;
    background-color: #B5D9E5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 2em;
    clear: both;
}
#search .gsc-control-cse {
    background-color: #fff;
    border: 1px solid #2E5186;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#search .gsc-tabsArea {
    background-color: #F0F8FC;
    background-image: url(../../img/amo2009/bg/listing-header.gif);
    background-repeat: repeat-x;
    background-position: bottom left;
    border-bottom: 1px solid #A5BFCE;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    padding: 0.1em 0 0.1em 0.25em;
    margin: 0;
    overflow: hidden;
}
#search .gsc-tabHeader,
#search .gsc-cursor-page,
#search .gsc-trailing-more-results {
    display: inline;
    margin: 0 0.25em;
    padding: 0.3em 0.8em;
    line-height: 2.5;
    background-color: transparent;
    color: #223355;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
}
#search .gsc-tabHeader.gsc-tabhActive,
#search .gsc-cursor-current-page {
    color: #fff;
    background-color: #223355;
    border-color: #001133;
    border-width: 1px 0 0 1px;
}
#search .gsc-resultsHeader {
    display: none;
}
#search .gsc-results {
    width: 100%;
}
#search .gsc-result {
    margin: 0;
    padding: 1em;
    position: relative;
    background-color: #FFFFFF;
    background-image: url(../../img/amo2009/bg/listing-item.png);
    border-bottom: 1px solid #D6E9F0;
    overflow: hidden;
    clear: both;
    background-repeat: repeat-x;
    background-position: left bottom;
}
#search .gsc-result tbody {
    border: none;
}
#search .gs-title, #search .gs-title *, #search a.gs-title {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    color: #0055EE;
}
#search .gs-title:hover * {
    color: #003595;
}
#search .gs-visibleUrl-short {
    color: #73AA41;
}
#search .gsc-cursor-box {
    background-color: #FFFFFF;
    background-image: url(../../img/amo2009/bg/listing-footer.gif);
    background-repeat: repeat-x;
    background-position: left top;
    border-top: 1px solid #A5BFCE;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    margin: -1px 0 0 0;
    position: relative;
    z-index: 10;
    overflow: hidden;
    padding:0.3em 1em 0.5em;
}
#search .gsc-cursor-page:hover,
#search .gsc-trailing-more-results:hover {
    background-color: #BDDDE8;
}
#search .gsc-cursor-current-page:hover {
    background-color: #223355;
}

#poweredby-cse {
    float: right;
    text-align: right;
    color: #000000;
    font-size: 0.85em;
}

.newsletter .highlight p {
    margin: 0.5em 0;
}
.newsletter .highlight form,
.newsletter .highlight h3 {
    margin: 0;
}
.newsletter .highlight form {
    text-align: center;
}
.newsletter .highlight input[type="text"] {
    width: 100%;
}

.featured-inner.hub-intro {
    background: #fff url(../../img/amo2009/developers/hub-addon-fox.jpg) 362px bottom
    no-repeat;
    padding: 25px 0 0 26px;
}

.html-rtl .featured-inner.hub-intro {
    padding: 25px 0 0 10px;
}

.hub-intro-wrapper {
    width:350px;
}

.hub-intro-wrapper a.significant {
    padding-right: 0.5em;
}

.html-rtl .hub-intro-wrapper {
    float:left;
}

.hub-intro h2 {
    margin-top:0;
    line-height:0.8em;
}

.hub-intro h2 span {
    display:block;
    font-size:83%;
}

.hub-intro p {
    font-size:123.1%;
    line-height:1.4em;
}

.hub-intro a.button {
    font-size: 138.5%;
}

.hub-directory {
    float: right;
    width:48%;
}

.hub-directory:nth-child(2n) {
    float:left;
}

.hub-directory h3 {
    padding-bottom: 0.4em;
    margin:0;
}

.hub-directory h4 {
    font-size: 116%;
}

.hub-directory h3, .hub-directory li {
    border-bottom: 1px solid #B5D9E5;
}

.hub-directory li {
    padding: 7px 0 7px 47px;
    position: relative;
}

.html-rtl .hub-directory li {
    padding: 7px 47px 7px 0;
}

.hub-directory li.featured {
    -moz-border-radius: 0;
    margin: 0;
    background: #ECF7FB;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.hub-directory p {
    margin: 0;
    line-height: 1.4em;
}

.hub-directory span {
    left: 2px;
    top: 10px;
    padding: 13px 10px 15px 15px;
    position: absolute;
    background: url(../../img/amo2009/developers/hub-directory-sprite.png) top left no-repeat;
}

.html-rtl .hub-directory span {
    left: auto;
    right: 2px;
}

.hub-blog .icon {
    float:right;
    -moz-border-radius:none;
    padding:0;
    margin: 4px 0 0 0;

}

.hub-blog, .hub-calendar {
    line-height: 1.2em;
}

.hub-blog dt, .hub-calendar dt {
    margin-top: 0.9em;
}

.html-rtl .hub-blog h3 {
    padding-right: 20px;
}

.hub-blog h3 a {
    font-weight: normal;
}

.hub-blog dd {
    color: #223355;
    font-size: 85%;
}

.hub-calendar dd {
    display: inline;
}

.hub-calendar .date {
    font-weight: bold;
    color: #223355;
}

.hub-calendar .location {
    color: #57708C;
}

.hub-developer {
    background: #EAF7FB;
    width: 100%;
    display:table;
}

.addon-list {
    width: 200px;
    padding: 25px 0 0 21px;
    display: table-cell;
    background: #EAF7FB;
    border-right: 1px solid #AEC3CF;
}

.html-rtl .addon-list {
    padding: 25px 21px 0 0;
    border-right: none;
    border-left: 1px solid #AEC3CF;
}
.addon-list ul {
    margin-bottom: 0;
}

.addon-list h3 {
    margin:0 0 0.5em 0;
    font-size: 2.154em;
}

.addon-list li a {
    background: url(../../img/default_icon.png) center left no-repeat;
    padding: 10px 0 10px 45px;
    margin-right:21px;
    display:block;
    border-bottom: 1px dotted #AEC3CF;
}

.html-rtl .addon-list li a {
    margin-right: 0;
    margin-left: 21px;
    padding: 10px 45px 10px 0;
    background-position: center right;
}

.addon-list li a:visited {
    color: #0055EE;
}

.addon-list li.active {
   background: url(../../img/amo2009/icons/addon-arrow.png) center right no-repeat; 
   margin: 0 -1px 0 0;
}

.html-rtl .addon-list li.active {
    background: url(../../img/amo2009/icons/addon-arrow-rtl.png) center left no-repeat;
    margin: 0 0 0 -1px;
}

.addon-list li.active a {
    font-weight:bold;
}
.addon-list li.more {
    font-size: 0.85em;
}

.addon-list li.more a {
    background: url(../../img/amo2009/icons/arrows.gif) 22px -107px no-repeat;
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.addon-feed-wrapper {
    background: #fff;
    display: table-cell;
    width: 70%;
}

.addon-feed, .addon-feed h3 {
    color: #444;
}

.addon-feed {
    padding: 20px 20px 0;
}

.addon-feed h3 {
    margin-top:0;
}

.addon-events {
    margin: 0;
}

.addon-event {
    padding: 0.5em 0 0.7em 25px;
    position: relative;
    border-bottom: 1px dotted #ccc;
}

.html-rtl .addon-event {
    padding: 0.5em 25px 0.7em 0;
}

.addon-event .icon {
    background: url(../../img/amo2009/icons/news-feed-sprite.png) 0 0 no-repeat;
    padding: 8px;
    position:absolute;
    top: 0.75em;
    left: 0;
}

.html-rtl .addon-event .icon {
    right: 0;
    left: auto;
}



.addon-event p {
    margin: 0;
}

.addon-event .date {
    font-size: 0.8em;
    color: #7F7F7F;
    line-height: 1em;
}

.older-activity {
    font-size: 0.85em;
    border-bottom: none;
    padding-left: 0;
}

.older-activity a {
    padding-left: 25px;
    background: transparent url(../../img/amo2009/icons/arrows.gif) no-repeat scroll  4px -116px;
}

.addon-info {
    margin: 0;
    margin-bottom: 0;
    background: #EAF7FB;
    border-top: 1px solid #AEC3CF;
    padding: 5px 0;
}

.addon-info li {
    margin: 0 0 0 20px;
    float:left;
    padding:4px 0 4px;
}

.tools span {
    background-position: -57px 0;
    padding: 16px;
}

.documentation span {
    background-position: -25px 0;
    padding: 16px 16px 16px 17px;
}

.addon-info a {
    background: transparent url(../../img/amo2009/icons/news-feed-sprite.png) no-repeat scroll 0 0;
    padding: 4px 0 4px 20px;
}

.addon-info .edit {
    background-position: 0 -537px;
}

.addon-info .statistics {
    background-position: 0 -897px;
}

.addon-info .status {
    background-position: 0 -1040px;
}

.addon-info .versions {
    background-position: 0 -501px;
}

/** BG positions for news feed, auto-generated **/
.addon_active .icon{ background-position: 0 0; } 
.addon_created .icon{ background-position: 0 -36px; } 
.addon_inactive .icon{ background-position: 0 -72px; } 
.approved .icon{ background-position: 0 -108px; } 
.author_added .icon{ background-position: 0 -144px; } 
.author_removed .icon{ background-position: 0 -180px; } 
.categories_modified .icon{ background-position: 0 -216px; } 
.collection .icon{ background-position: 0 -252px; } 
.contributions_modified .icon{ background-position: 0 -288px; } 
.custom .icon{ background-position: 0 -324px; } 
.descriptions_edited .icon{ background-position: 0 -360px; } 
.escalated .icon{ background-position: 0 -396px; } 
.file_added .icon{ background-position: 0 -432px; } 
.file_deleted .icon{ background-position: 0 -468px; } 
.page_white_stack .icon{ background-position: 0 -504px; } 
.pencil .icon{ background-position: 0 -540px; } 
.preview_add .icon{ background-position: 0 -576px; } 
.preview_delete .icon{ background-position: 0 -612px; } 
.preview_edit .icon{ background-position: 0 -648px; } 
.properties_edited .icon{ background-position: 0 -684px; } 
.recommended_add .icon{ background-position: 0 -720px; } 
.recommended_remove .icon{ background-position: 0 -756px; } 
.request_info .icon{ background-position: 0 -792px; } 
.retained .icon{ background-position: 0 -828px; } 
.review_added .icon{ background-position: 0 -864px; } 
.stats .icon{ background-position: 0 -900px; } 
.stats_private .icon{ background-position: 0 -936px; } 
.stats_public .icon{ background-position: 0 -972px; } 
.status .icon{ background-position: 0 -1008px; } 
.status_2 .icon{ background-position: 0 -1044px; } 
.status_nominate .icon{ background-position: 0 -1080px; } 
.tag_added .icon{ background-position: 0 -1116px; } 
.tag_blue .icon{ background-position: 0 -1152px; } 
.tag_removed .icon{ background-position: 0 -1188px; } 
.version_added .icon{ background-position: 0 -1224px; } 
.version_deleted .icon{ background-position: 0 -1260px; } 
.version_edited .icon{ background-position: 0 -1296px; } 
.versions_compat_add .icon{ background-position: 0 -1332px; } 

/** "I like this!" boxes **/
.like-this.not-liked .unlike,
.like-this.liked .likeit {
    display: none;
}

.like-this .numlikes {
    background-image: url('../../img/amo2009/icons/thumbs.png');
    background-repeat: no-repeat;
    padding-left: 1.5em;
    margin-top: 0.5em;
}

.html-rtl .like-this .numlikes {
    padding-right: 1.5em;
}

.like-this.not-liked .numlikes {
    background-position: left 40%;
}

.like-this.liked .numlikes {
    background-position: left -2%;
}

.html-rtl .like-this.not-liked .numlikes {
    background-position: right 40%;
}

.html-rtl .like-this.liked .numlikes {
    background-position: right -2%;
}

.like-this.not-liked button.link:not(:hover) span {
    color: #888;
    opacity: 0.9;
}
/** END "I like this!" boxes **/
