.categories ul ul li:hover,
.categories ul ul li:hover a, 
.categories ul ul li:active {
	background:rgb(255,255,255);
	color:rgb(68,187,249);;
}

.categories ul ul li a {
	padding:0;
	}

.categories ul ul li { 
	display:block;
	padding:.74em;
}
	
#featured_addons p {
	clear:left;
	float:none;
	display:block;
	width:auto;
}		

#featured_addons .addon_block.item .preview img {
	float:right;
	margin:-50px 20px 0 0;
	width:240px;
	}