.listing .item img.icon, .separated-listing .item img.icon {
display:none;
}

.categories h3 {
	display:block;
	padding:1em .7em;
	font-weight:bold;
	font-size:130%;
	background:rgb(222,229,231);
	color:rgb(63,63,63);
	}