/* =Reset */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* =links ------------------*/

a  {
	color:rgb(68,187,249);
	color:rgb(9,63,201);
	color:rgb(52,150,240);
	color:rgb(57,133,229);
}

a:hover  {
	color:#fff;
	background-color:rgb(57,133,229);
	text-decoration:none;
}

#plot-options a:hover {
	color:rgb(9,63,201);
	}

#header ul.stats li a {
	text-decoration:none;
	border-bottom:none;
	color:#000;
	}
	
#header ul.stats li a:hover {
	background:#fff;
	}	

#header ul.stats li a strong {
	color:#fff;
	background:rgb(80,172,241);
	padding:0 3px;
	margin:0 0 0 -3px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#header ul.stats li a span {
	text-decoration:none;
	border-bottom:none;
	font-size:80%;
	}

.categories.dropdown-categories h3 a {
	color:rgb(120,120,120);
	text-decoration:none;
	cursor:default;
	}
	
.categories.dropdown-categories h3 a:hover {
	color:rgb(120,120,120);
	background:rgb(222,229,231);
	text-decoration:none;
	cursor:default;
	}	

#coll_publish a {
	float:right;
	font-size:80%;
	}

.categories ul ul li a { 
	display:block;
	padding:.74em;
	xcolor:rgb(68,187,249);
	color:rgb(52,150,240);
	xcolor:rgb(33,102,211);
	xcolor:#666;
	font-weight:bold;
}

.categories ul ul li:hover,
.categories ul ul li:hover a, 
.categories ul ul li:active {
	color:rgb(255,255,255);
	background:rgb(68,187,249);
	background:rgb(57,133,229);
	xbackground:rgb(33,102,211);
	xtext-shadow:0 0 2px rgba(0,0,0,.4);
}

.primary a:link,
.primary a:visited {
	color:rgb(9,63,201);
	color:rgb(18,76,244);
}

.primary a:hover {
	color:#fff;
	background-color:rgb(18,76,244);
}

.primary a[href$=jpg]:hover,.primary a[href$=JPG]:hover,.primary a[href$=jpeg]:hover,.primary a[href$=jpe]:hover,.primary a[href$=png]:hover,.primary a[href$=gif]:hover     {
	background-color:#fff;
	border:none;
}

.listing-footer a {
	margin-right:1em;
}

.listing-header li a {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:.5em .9em;
	text-decoration:none;
	color:rgb(0,0,0);
	}

.listing-header li.selected a,
.listing-header li.selected a:hover {
	background-color:rgb(216,223,225);
	color:rgb(0,0,0);
	}

.listing-header li a:hover {
	background-color:rgb(57,133,229);
	color:#fff;
	}
	
.install.install-container a {
	padding:8px 14px 8px 12px
	color:rgb(0,48,192);
	color:#3496F0;
	background:rgb(234,234,234);
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	xborder:5px solid rgb(216,223,225);
	}

.primary .install.install-container:hover a {
	xcolor:#fff;
	xcolor:#000;
	xcolor:#3496F0;
	background:rgb(57,133,229);
	xbackground:rgb(228,228,228);
	xbackground:#3496F0;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.9);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.9);
	}		
	
.addon-listing a.profileLink {
	color:rgb(63,175,248);
	}

.addon-listing a.profileLink:hover {
	color:#fff;
	background:rgb(80,172,241);
	}
	
.secondary a.more-info {display:block; margin:1em 0;font-size:90%;width:auto;}

.secondary a.more-info:hover {color:#fff;background:rgb(80,172,241);}

a.button.positive {padding:8px 14px 8px 12px;text-decoration:none;}

a.button.positive:hover {
	text-decoration:none;
	color:#fff;
	background:rgb(80,172,241);
	}

#addon-summary a.button.positive {
	font-size:120%;
	text-decoration:none;
	}

#addon-summary.primary a.button.positive:hover {
	 color:#fff;
	 background:rgb(80,172,241);
	 text-decoration:none;
	}			
	
div.addons_column ul li a:hover {
	background-color:rgb(57,133,229);
	color:#fff;
	}

div.addons_column ul li a:hover span {
	background-color:rgb(57,133,229);
	color:#fff;
	}

div.addons_column ul li a {
position:relative;
xborder:1px solid #DEE5E7;
x-moz-border-radius:6px;
x-webkit-border-radius:6px;
xborder-radius:6px;
margin:12px 0;
display:block;
height:auto;
text-decoration:none;
}

div.addons_column ul li a:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html div.addons_column ul li a {height:1%} /* IE5 + IE6 auto clear filter */

*:first-child+html .primary div.addons_column ul li a {min-height:1px;} /*for IE7 */

div.addons_column ul li a .name,
div.addons_column ul li a .meta {
	display:block;
	margin-left:52px;
	margin-right:12px;
	padding:4px 15px 0 0;
}

div.addons_column ul li a .meta {
	font-size:80%;
}	

.item h3 a {
	text-decoration:none;
	line-height:120%;
	}	
	
.item-info .install-container p a,
#featured_addons .install-container p a {
	display:block;
	text-decoration:none;
	}	

/* =Layout */

body {
	font:normal 100%/1.25em Helvetica Neue, Arial, Helvetica, sans-serif;
	background:#fff;
	color:rgb(63,63,63);
}

.section {
	margin: 0 auto;
	max-width:940px;
	min-width:776px;
}

#header {
	position:relative;
	margin:3.8em 0 1em 0;
}

#header:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#nav-access {
	display:none;
}

#sugarnav {
	font-size:80%;
	position:absolute;
	top:-50px;
	left:16px;
	}
	
#sugarnav li {
	display:inline;
	padding-right:.5em;
	}	

#aux-nav {
	font-size:80%;
	position:absolute;
	top:-89px;
	right:20px;	
	z-index:2;
}

.primary .tabs-nav {
	margin-bottom:0;
	}
	
.ui-tabs-nav li a:hover {
	background-color:rgb(160,212,120) ;
}	

.stand-alone-options + div {
	clear:right;
	float:right;
	margin-left:10px;
	width:73.47% !important;
	}
	
ul.refinements {
	margin:1em 0;
	}

ul.refinements li {
	margin:0 0 .5em 10px;
	}

ul.refinements li a:hover {
	background:rgb(80,172,241);
	}

.ui-tabs-panel {
	list-style:none;
	}
	
ol {
list-style-type:decimal;
margin-left:2em;
}	

#aux-nav .tools {
	float:right;
	margin-left:8px;
	xwidth:100px;
}

.context {
	float:right;
	margin:1.5em 0 0 .3em;
	}

.user-anon .context {
	margin-left:9.6em;
	}

.tools {
	width:8.4em;
	margin:1.5em 0 0 .3em;
	}
	
.tools a.controller {
	}

.tools.expanded {
	background:#fff;
	border:1px solid rgb(216,223,225);
	margin:0 .5em .6em;
	margin:1.5em 0 0 .3em;
	}

.tools.expanded li a {
	display:block;
	padding:0 .4em;
	margin-bottom:.2em;
	background:#fff;
}

.tools.expanded li a:hover {
	background:rgb(0,48,192);
	}

.tools.expanded li a:first-child,
.tools.expanded li a:last-child {
	margin-bottom:0;
	}

.further-navigation {
	margin-bottom:40px;
	font-size:85%;
}

.article .further-navigation {
	margin-bottom:0;
	}

.primary form.languages.go {
	margin-bottom:20px;
	}

#review-box p {
	margin-bottom:1em;
	}
	
#review-box {
	font-size:90%;
	margin-bottom:2em;
	}	

#review-box:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html #review-box {height:1%} /* IE5 + IE6 auto clear filter */

*:first-child+html #review-box {min-height:1px;} /*for IE7 */

.secondary,
.stand-alone-options .categories,
#dev-subnav {
	clear:left;
	float:left;
	width:24.49%;
}

.secondary .categories,
.stand-alone-options .categories {
	margin:22px 0;
}

.primary {
	clear:right;
	display:inline;
	float:right;
	margin-left:10px;
	width:73.47%
}

.primary div h1 {
	margin:2em 0 .5em;
}

p {
	margin-bottom:1em;
}

p#title {
	margin-bottom:0;
	}

.primary .secondary p {
	font-size:90%;
	}

.primary div ul {
	font-size:90%;
	margin:1em 0 1.5em 20px;
	}	
	
.primary .meta ul {
	margin-top:0;
	}	

.primary ul {
	margin-bottom:2em;
	}

.primary div.addons_column ul {
	list-style:none;
	margin:0;
		}

.primary.results-head + .primary {
	width:73.47% !important;
	}

.search-form {
margin-top:22px;
}

.amo-form {
	margin:2em 0 2.5em;
	font-size:90%;
	}

.stand-alone-options .search-form {
	clear:right;
	float:right;
	margin-top:22px;
	margin-left:10px;
	width:71.47%
}

.primary .primary {
	clear:none;
	float:left;
	margin-left:0;
	width:63.889%;
}

.primary .secondary {
	clear:none;
	float:right;
	width:29.3%;
}

.clearboth,
.highlight {
	font-size:90%;
	margin:0 10px;
	}

.clearboth {margin:0;}

#tags {
	margin:0 10px;
	}	
		
.addon-collections {
	margin:0 20px 1em;
	}
		
.clearboth a,
.addon-collections li a {
	background:rgb(247,247,247);
	padding:3px 10px;
	margin: 0 -10px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	}	
	
.addon-collections li {
	margin:.7em 0;
	}	

a#addatag {
	margin-left:8px;
	}

.addon-collections li a:hover,
a#addatag:hover {
	background:rgb(80,172,241);
	}

p#title a {
	text-decoration:none;
	margin-left:8px;
	}

p#title a:hover {
	background:#fff;
	color:rgb(80,172,241);
	}

p#title a img{
	vertical-align:text-top;
}

p#brand {
	display:none;
}

.primary a.profileLink {
	color:#44BBF9;
	color:rgb(80,20,117);
	text-decoration:underline;
	font-size:90%;
	}
	
.primary a.profileLink:hover {
	color:#fff;
	background:rgb(80,20,117);
	text-decoration:none;
	}	
	
.primary .secondary .item h5 span {
	font-size:80%;
	color:rgb(0,0,0);
	}

.primary .secondary .item h5 span a {
	color:#000;
	text-decoration:none;
}

.primary .secondary .item h5 span a:hover {
	color:#fff;
	} 
	
.primary .secondary .item blockquote p {
	clear:left;
	margin-top:1em;
	}
	
.meta {
	margin-bottom:.7em;
	}

.item .meta {
	margin-bottom:0;
	}

.primary .secondary .item .meta {
	font-size:80%;
	}

#header ul.stats {
	width:auto;
	float:right;
	margin:-2.8em 26px 0 0;
}

.search-form {
	position:relative;
	display:block;
	background:rgb(242,251,254);
	border:8px solid rgb(68,187,249);
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
}


select, label, input {
font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

#search-query .query-label {
	font-size:100%;
    color: rgb(63,63,63);
    position: absolute;
    left: 2.5em;
    display: none;
    margin:0 .4em;
	padding:.4em 0 .3em .6em;
}

#search-form  {
	padding:1.5em 1.4em 1.5em;
}

#search-form #query {
	font-size:100%;
	margin:0 .3em;
	padding:.3em .3em .3em 26px;
	width:33%;
    background-color:rgb(255,255,255);
	border:1px solid rgb(150,150,150);
}

#search-form select#cat {
	margin:0 .3em;
	padding:.27em;
	width:36%;
	font-size:100%;
	color: rgb(63,63,63);
	background:rgb(255,255,255);
	border:1px solid rgb(150,150,150);
}

#search-form button[type="submit"] {
	margin:0 0 0 1em;
	padding:.4em .2em .1em .3em;	
	width:38px;
	background:rgb(178,178,178);
	border:3px solid rgb(178,178,178);
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	vertical-align:top;
}

#search-form button[type="submit"]:hover {
	background:rgb(80,172,241);
	border:3px solid rgb(80,172,241);
	cursor:pointer;
	}
	
.search-form .basic button img {
	background-image:url(../../img/amo2009/icons/buttons/go-green.gif);
	height:18px;
	width:9px;
}

.search-form .basic input {
	background-color:white;
	background:url(../../img/amo2009/icons/magnifying-glass.gif) no-repeat 0.2em center;
}

#advanced-link {
bottom:0;
margin:0;
position:absolute;
bottom:-36px;
right:0;
font-size:80%;
padding:5px;
}

#advanced-search {
	display:none;
}

.section-teaser {
	margin-top:2em;
}

.categories > h3 {
	display:block;
	padding:1em .7em;
	font-weight:bold;
	font-size:130%;
	background:rgb(222,229,231);
	color:rgb(120,120,120);
	-moz-border-radius-topright:12px;
	-moz-border-radius-topleft:12px;
	-webkit-border-top-right-radius:12px;
	-webkit-border-top-left-radius:12px;
}

.highlight h3 {
	font-size:120%;
	margin-bottom:.5em;
	}

#coll_publish h3 {
	font-size:90%;
	margin-bottom:.7em;
	}

.categories ul {
	background:rgb(255,255,255);
	border:8px solid rgb(222,229,231);
	border-top:none;
	-moz-border-radius-bottomright:12px;
	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-right-radius:12px;
	-webkit-border-bottom-left-radius:12px;
}

.categories ul ul {
	border:none;
	display:inline; /*for ie7 */
	}

.categories ul ul li {
	border-bottom:1px solid rgb(222,229,231);
	position:relative;
}

.categories ul ul li span {
	position:absolute;
	top:0;
	right:0;
	padding:.74em;
}

#addon-listing.featured.listing,
.featured-inner {
	margin:0 0 1em 0;
	padding:20px;
	background:rgb(255,255,255);
	border:8px solid rgb(222,229,231);
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
}


.review .reviewed-on {
font-size:0.8em;
margin:0.4em 0;
}

#addon-list-options ul li.perpage {
float:right;
}

.section-teaser {
	display:none;
}

.teaser-header  {
	display:none;
}

.primary h1,
.primary h2,
.stand-alone-options + div h2 {
	margin:2em 0 .5em 6px;
	font-size:160%;
}

.article + h3,
.featured + h3 {
	margin-left:21px;
	}

.primary div.listing-header ul {
float:left;
margin:0 0 2em 0;
font-size:80%;
font-weight:bold;
}

.listing-footer {
	float:left;
	margin:1em 0 1em 26px;
	font-size:80%;
}

.listing-header {
overflow:hidden;
padding:0.1em 0 0.1em 0.25em;
}


.listing-header li {
display:inline;
line-height:2.5;
margin:0 3px;
}

.install {
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
text-align:center;
}

.install.install-container {
	padding:1px 3px 1px 2px;
	margin-top:5px;
}

.install.install-container {
	float:right;
	xbackground:rgb(216,223,225);
	xpadding:4px 7px 4px 6px;
	xborder:1px solid rgb(178,178,178);
	xborder-top:1px solid rgb(216,223,225);
	xborder-left:1px solid rgb(216,223,225);
}

.addon_block.item .install.install-container {
	float:left;
}

.featured-inner .install.install-container .button.positive {
	float:left;
	} 

.install.install-container {
	display:block !important;
	clear:left;
	float:right;
	width:auto;
	margin-left:12px;
}

.install.install-container.unavailable {
	display:none !important;
	}

#addon-summary .install.install-container {
	float:left;
	}

.install-button-text {
	padding-left:10px;
	font-weight:bold;
	margin:0;
}

p.install-button {
	margin-bottom:0;
	}

.install.install-container strong {
	font-size:85%;
	display:block;
	margin-top:4px;
/* let install experimental addons
	display:none; */
}

.addon-listing blockquote p {
	clear:right;
	padding-top:.8em;
	}
	
.default.item .meta,
.addon-listing .meta {
	border-top:1px solid rgb(216,223,225);
	margin-top:.6em;
	}
	
.meta span.downloads {
	display:block;
	font-size:95%;
	}	

.object-lead .meta {
border-left:1px dotted #B4DFEE;
float:right;
margin:2em 2% 0 1em;
padding-left:2%;
width:18em;
}

.object-lead h3 {
	font-size:130%;
	margin-bottom:.5em;
	}

a:link.button.neutral,
a:visited.button.neutral,
a:hover.button.neutral,
a:focus.button.neutral,
a:active.button.neutral,
button.neutral {
    background-color:#E5A365;
    background-image: url(../../img/amo2009/bg/button-orange.jpg);
    border:1px solid #CB7E42;
    text-shadow:-1px -1px 1px #BF6524;
}

button {
	margin-bottom:.3em;
	}

a:link.button.neutral img,
a:visited.button.neutral img,
a:hover.button.neutral img,
a:focus.button.neutral img,
a:active.button.neutral img,
button.neutral img {
      padding-top:2px;
      padding-right:8px;
}

.ui-tabs-nav li {
float:left;
font-weight:bold;
margin:0 0 0 2px;
}

.item h3 span, .item h4 span {
	display:block;
	font-size:70%;
	}

.listing .item, .separated-listing .item {
	font-size:.8em;
background-color:#FFFFFF;
clear:both;
overflow:hidden;
padding:1em 1em 1em 65px;
position:relative;
}

.listing.results .item, .separated-listing .item {
	border-bottom:1px solid rgb(216,223,225);
}
	
#addon-summary .install.install-container strong {
	font-size:85%;
}	

.listing .item img.icon, .separated-listing .item img.icon {
left:1px;
position:absolute;
top:.9em;
padding:6px;
xborder:8px solid rgb(222,229,231);
-moz-border-radius:12px;
-webkit-border-radius:12px;
border-radius:12px;
}

.addon-listing div{
	position:relative;
	}

.addon-listing h3 {
	font-size:120%;
}

#footer p,#footer ul {
	clear:left;
	font-size:80%;
}

#footer ul {
	float:left;
	margin:1em 0;
}

#footer ul li {
	display:inline;
	margin:1em .5em;
}

#footer ul li:first-child {
margin:0;
}

.primary .secondary .item {
	margin-bottom:2em;
	}


.primary .secondary img {
	padding:8px;
	border:8px solid rgb(222,229,231);
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
}

.primary .secondary .item img.icon {
	border:none;
	padding:0;
	}

.primary .item h3 img.icon {
	margin-right:20px;
	}

.primary .secondary img.icon {
	float:left;
	margin:0 12px 12px 0;
	}

.primary .secondary a.screenshot.thumbnail img,
.preview a img {
	float:right;
	padding:0;
	border:0;
	}

.primary .preview img {
	float:right;
	border:4px solid rgb(133,133,133);
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	}
	
.primary .preview img:hover {
	border:4px solid rgb(80,172,241);
	}	

#addon-summary a.button img {
	float:left;
	padding:3px 0 0 3px;
	margin-right:4px;
	}

.share-this {
	margin-top:1em;
	float:left;
	width:80%;
	}

.primary .secondary h3 {
	margin:.5em 0;
}

.clearboth {
	margin-bottom:1em;
	}

h3.compact-bottom {
	font-size:120%;
	margin-bottom:.5em;
	}

.primary .secondary h4 {
	font-size:130%;
	margin:.5em 0 1em;
}

#addon h3,#addon h4 {
	font-size:140%;
	margin-bottom:.8em;
	}

#footer .secondary img {
	margin:0 auto 2em;
	padding:8px;
	display:block;
	border:8px solid rgb(222,229,231);
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
}

.addons_column {
	clear:left;
	float:left;
	width:41.9%;
	padding:0 10px 0 12px;
	margin: 0 2% 22px 2px;
	border:8px solid rgb(222,229,231);
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	}

#popular_addons {
	margin-right:0;
	clear:none;
	}	

#updated_addons {
	width:91.8%;
}
	
#updated_addons ul li {
	float:left;
	width:47.6%;
	display:block;
}	

#updated_addons ul li.even {
	margin-left:3%;
}

.addons {
background-position:0 -200px;
padding-bottom:7px;
}

.subscribe, .addons, .collections, .subscribers, .category, .tags, .share, .digg, .delicious, .facebook, .friendfeed, .myspace, .twitter {
}

.barometer .upbar, .barometer .downbar, .barometer .novotes {
height:0.7em;
margin-top:0.6em;
}

.barometer .novotes {
background-color:#D9D9D9;
}
.barometer .votecount {
margin-top:-1000em;
position:absolute;
}


.barometer .upvotes {
background-image:url(../../img/amo2009/icons/thumbs.png);
background-position:left 33.2%;
color:#00B960;
margin-right:0.2em;
padding-left:1.2em;
}

.barometer .upvotes, .barometer .downvotes {

background-color:transparent;
background-repeat:no-repeat;
border:0 none;
cursor:pointer;
margin:0;
padding:0.1em 0 0;
text-shadow:none;
}

.addons_column p.view-all {
	clear:left;
	float:left;
	width:auto;
	font-size:80%;
	margin:16px 0;
}

div.addons_column ul li a img.icon {
left:6px;
position:absolute;
top:6px;
}
	
#categoriesdropdown {
	display:block !important;
}

.dropdown-categories h3 img {
	display:none;
}	

.addons_column h3 {
	font-size:120%;
	margin:.5em 0 .9em 0;
}

ol.breadcrumbs {
	display:none;
}

h2.addon {
	clear:right;
	width:71.47%;
	margin:22px 0 0 27%;
	padding-top:22px;
 	position:relative;
	display:block;
}

h2.addon span {
	font-size:170%;
	position:absolute;
	top:40px;
	left:65px;
	}

h2 img.icon {
	margin:17px 10px 0 20px;
}

#addon .primary {
	xfloat:left;
	xwidth:73.47%;
}

.featured:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html .featured {height:1%} /* IE5 + IE6 auto clear filter */

*:first-child+html .featured {min-height:1px;} /*for IE7 */

.featured-inner {
	float:left;
	margin-right:10px;
	width:92%;
	}

.featured-inner .secondary {
	float:right;
	}

.featured.listing.results div.featured-inner {
	width:90%;
	}

#addon-summary {
	float:left;
	width:53%;
}

#addon-summary ul.addon-cats {
	display:none;
}

.object-lead table {
	clear:both;
	float:left;
	margin-top:1em;
	width:100%;
}

.object-lead table tr:first-child td, .object-lead table tr:first-child th {
border-top:medium none;
}

.object-lead table tr td, .object-lead table tr th {
border-bottom:medium none;
border-top:1px dotted #A5C9D5;
}

.object-lead table tr th {
width:20%;
}

tbody tr th, tbody tr td {
border-top:1px solid #DDDDDD;
}

th, td {
padding:0.308em 0.537em 0.214em 0.231em;
text-align:left;
}

.article {
	font-size:90%;
	padding:1em 20px;
	border:1px solid rgb(216,223,225);
	margin-bottom:2em;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	}

.article p {
	margin-bottom:.5em;
	}

#addon-summary > p {
	width:100%;
	float:left;
	margin-bottom:1em;
	}		
	
.search-form .important div {
display:inline;
white-space:nowrap;
}

form fieldset .container {
margin:1em 0;
position:relative;
}

.expanded-search-form .advanced {
display:block;
margin-left:6px;
}

.search-form .subsidiary .container {
display:inline;
float:left;
width:48%;
}

form fieldset .container {
margin-bottom:0;
margin-top:1em;
position:relative;
}

.search-form fieldset:first-child {
border-bottom:1px solid rgb(216,223,225);
padding-bottom:1em;
padding-top:1em;
}

.item .item-info {
border-left:1px dotted #B4DFEE;
}

.item-info {
float:right;
margin-left:2%;
padding-left:2%;
width:13em;
}

.item h3  {
	font-size:180%;
	}
		
#featured_addons {
	width:90.1%;
	float:left;
	margin:0 0 1.2em 0;
}

#featured_addons .addon_block.item {
	float:left;
	width:100%;	
	padding:16px 16px;
	margin-bottom:1em;
	background:rgb(255,255,255);
	border:8px solid rgb(222,229,231);
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	}

#featured_addons .addon_block.item .preview {
	float:right;
	margin:-40px 20px 0 0;
	width:240px;
	}

.item-info .install-container,
#featured_addons .install-container {
	margin-top:1em;
	margin-bottom:.5em;
	}

#featured_addons .install-container p {
	margin-bottom:0;}

#featured_addons h4.name {
	float:left;
	width:auto;
	}
	
h4.other-author-addons	{
	font-size:80%;
	}

h4.author {
	margin:-.5em 0 1em 34%;
	width:71.4%;
	}	
	
form#addons-author-addons {
	margin-bottom:1em;
	}
	
#featured_addons p {
	clear:left;
	display:block;
	float:left;
	width:auto;
	margin-bottom:1em;
}	

#featured_addons ul {
	list-style:none;
	margin: -.3em 0 0;
	}

#featured_addons p.authors {
	font-size:85%;
	}

#featured_addons p.summary {
	float:left;
	width:60%
	}	
	
.stars {
background-image:url(../../img/amo2009/icons/stars.png);
background-position:0 50%;
background-repeat:no-repeat;
display:block;
float:left;
margin-right:0.5em;
text-indent:-5000px;
width:63px;
}

.results .item .item-info .downloads {
display:block;
margin-left:0;
}

.item .downloads {
margin-left:1em;
}

 p.downloads{
font-size:90%;
margin:.5em 0;
}

.item .meta span.downloads{
	margin-left:0;
	}

.downloads {
clear:both;
}

.item-sort {
float:right;
margin:0.2em 0.5em 0;
text-align:right;
white-space:nowrap;
}

.listing-header ul {
	margin-bottom:1em;
	}
	
h3.result-count {
	margin:0 0 1em 10px;
	}
	
/** Review box **/
#form-review .login, #form-review h3 {
    display: inline;
}

#form-review h4, #form-review .selectReplacement  {
    float: left;
}

.html-rtl #form-review h4, .html-rtl #form-review .selectReplacement  {
    float: right;
}

#form-review .selectReplacement, #form-review .stars {
    margin: 4px 0 0 5px;
    clear: none;
}

#form-review .stars {
    margin: 1px 0 0 5px;
    height: 12px;
}

.html-rtl #form-review .selectReplacement, .html-rtl #form-review .stars {
    margin-left: 0;
    margin-right: 5px;
}

#form-review a {
    font-weight: bold;
}

#form-review button {
    float: right;
}

.html-rtl #form-review button {
    float: left;
}

#form-review p {
    clear: both;
}

/** END Review box **/

/* @group hReviews */

.hreview {
    border-bottom: 1px dotted #B5D9E5;
    padding: 0.5em 0 1em 0;
    margin-bottom: 0.5em;
}

.hreview p {
    margin-bottom: 0;
}

.hreview:last-child {
    border-bottom: none;
}

/* @end */

.translation-area textarea {
	width:400px;
	}

/* @group Feedback Form */

form.addon-feedback {
    width: 50%;
    float: left;
    margin-right: 1.5em;
    margin-top: 1em;
}

form.addon-feedback textarea {
    width: 80%;
    background-color: #E3F3F9;
    float: right;
    min-height:140px;
}
form.addon-feedback select {
    background-color: #E3F3F9;
    margin-left: 1%;
}
form.addon-feedback label {
    float: left;
    clear: both;
    width: 18%;
    margin-bottom: 1em;
}

form.addon-feedback button {
    display: block;
    margin-top: 1em;
    clear: both;
}

form.addon-feedback div.container {
    clear: both;
    margin-bottom: 0.5em;
    overflow: hidden;
}

/* @group star select replacement */

select.replaced {
    display: none;
}
.selectReplacement {
    cursor: pointer;
    list-style: none;
    position: relative;
    width: 65px;
    height: 12px;
    margin: 0;
    padding:0;
    background-image:url("../../img/amo2009/icons/starselect.gif");
    background-position: -65px 0;
    background-repeat: no-repeat;
    overflow: hidden;
}
.selectReplacement li {
    display: inline;
    margin: 0;
    padding: 0;
}
.selectReplacement li a:link,
.selectReplacement li a:visited,
.selectReplacement li a:hover,
.selectReplacement li a:active,
.selectReplacement li a:focus {
    display: block;
    position: absolute;
    width: 13px;
    height: 12px;
    text-indent: -9999px;
    overflow: hidden;
    left: 0;
}
ul.worst {
    background-position: -52px 0;
}
ul.bad {
    background-position: -39px 0;
}
ul.fair {
    background-position: -26px 0;
}
ul.good {
    background-position: -13px 0;
}
ul.best {
    background-position: 0 0;
}
.selectReplacement li.worst a:link, 
.selectReplacement li.worst a:visited, 
.selectReplacement li.worst a:hover, 
.selectReplacement li.worst a:active, 
.selectReplacement li.worst a:focus {
    left: 0;
    z-index: 6;
}
.selectReplacement li.bad a:link, 
.selectReplacement li.bad a:visited, 
.selectReplacement li.bad a:hover, 
.selectReplacement li.bad a:focus, 
.selectReplacement li.bad a:active {
    left: 13px;
    z-index: 5;
}
.selectReplacement li.fair a:link, 
.selectReplacement li.fair a:visited, 
.selectReplacement li.fair a:hover, 
.selectReplacement li.fair a:focus, 
.selectReplacement li.fair a:active {
    left: 26px;
    z-index: 4;
}
.selectReplacement li.good a:link,
.selectReplacement li.good a:visited,
.selectReplacement li.good a:hover,
.selectReplacement li.good a:focus,
.selectReplacement li.good a:active {
    left: 39px;
    z-index: 3;
}
.selectReplacement li.best a:link, 
.selectReplacement li.best a:visited, 
.selectReplacement li.best a:hover, 
.selectReplacement li.best a:focus, 
.selectReplacement li.best a:active {
    left: 52px;
    z-index: 2;
}
.selectReplacement li a:hover,
.selectReplacement li a:focus,
.selectReplacement li a:active {
    background-position: left top;
    background-repeat: repeat-x;
    background-image:url("../../img/amo2009/icons/starselect_single.gif");
    background-color:#fff;
    left: 0;
}

.selectReplacement li.worst a:hover,
.selectReplacement li.worst a:focus,
.selectReplacement li.worst a:active {
    width: 13px;
    left: 0;
}
.selectReplacement li.bad a:hover,
.selectReplacement li.bad a:focus,
.selectReplacement li.bad a:active{
    width: 26px;
    left: 0;
}
.selectReplacement li.fair a:hover,
.selectReplacement li.fair a:focus,
.selectReplacement li.fair a:active{
    width: 39px;
    left: 0;
}
.selectReplacement li.good a:hover,
.selectReplacement li.good a:focus,
.selectReplacement li.good a:active{
    width: 52px;
    left: 0;
}
.selectReplacement li.best a:hover,
.selectReplacement li.best a:focus,
.selectReplacement li.best a:active {
    width: 65px;
    left: 0;
}

/* @end */

/* @end */


/* @group Stars */

.stars {
    text-indent:-5000px;
    background-image: url(../../img/amo2009/icons/stars.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    width: 63px;
    display: block;
    float: left;
}
.stars-4 {
    background-position: -13px 50%;
}
.stars-3 {
    background-position: -26px 50%;
}
.stars-2 {
    background-position: -39px 50%;
}
.stars-1 {
    background-position: -52px 50%;
}
.stars-0 {
    background-position: -65px 50%;
}

/* @group star select replacement */

#stats-table-pagination {
width:67%;
}

ol.pagination li {
display:inline;
list-style-image:none;
list-style-position:outside;
list-style-type:none;

}	

ol.pagination li a {
	padding:2px 4px;
	margin-right:2px;
	}

ol.pagination li.selected a:link, ol.pagination li.selected a:visited, ol.pagination li.selected a:hover, ol.pagination li.selected a:focus, ol.pagination li.selected a:active {
-moz-borde-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
background-color:rgb(18,76,244);
color:#fff;
}

ol.pagination {
line-height:2em;
margin-bottom:2em;
margin-left:0;
width:70%;
}

/* Translation Box Element */
.graybox {
    background-color: #fff;
    border: 3px solid #c8e8f3;
    padding: 15px;
    float:left;
}

.preview-box {
	font-size:90%;
	}

.submit {
	float:left;
	}

.graybox.errors {
    background-color: #fff1eb;
}
.graybox.spaced {
    margin-bottom: 10px;
}
.rounded {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.translation-box h4 {
    border-bottom: 1px solid #2E5186;
}
.translation-box h4 img {
    float: right;
    margin-top: 3px;
}
.html-rtl .translation-box h4 img {
    float: left;
}
.translation-box .translation-button img {
    cursor: pointer;
    float: left;
    background-color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-bottom: none;
    padding: 2px 5px 3px;
    margin: 5px 0 0 10px;
    height: 1.5em;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
}
.html-rtl .translation-box .translation-button img {
    float: right;
    margin: 5px 10px 0 0;
}
.translation-box .translation-button.remove img {
    float: right;
}
.html-rtl .translation-box .translation-button.remove img {
    float: left;
}
.translation-box .translation-button img:hover {
    background-color: #E4F3FA;
}
.translation-box .translation-tab {
    float: left;
    margin-right: 2px;
    background-color: #DDDDDD;
    text-align: center;
    padding: 5px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    width: 3.1em;
    height: 1.5em;
    cursor: pointer;
    border-bottom: 1px solid #FFFFFF;
}
.html-rtl .translation-box .translation-tab {
    float: right;
    margin-right: auto;
    margin-left: 2px;
}
.translation-box .translation-tab.selected {
    border: 1px solid #2E5186;
    background-color: #C8E8F3;
    border-bottom: none;
    color: #1D587F;
}
.translation-box .translation-tab:hover {
    text-decoration: underline;
}
.translation-box .translation-area {
    clear: both;
    margin: 0;
}
.translation-box .translation-maxlength {
    text-align: right;
    display: none;
}
.html-rtl .translation-box .translation-maxlength {
    text-align: left;
}
.translation-box .translation-maxlength.selected {
    display: block;
}
.translation-box .translation-maxlength img {
    display: none;
}
.translation-box .translation-maxlength.over {
    color: #CC3333;
}
.translation-box .translation-maxlength.over img {
    display: inline;
    vertical-align: middle;
}
.translation-box .translation-maxlength span {
    font-weight: bold;
}
.translation-box .input {
    border: 1px solid #2E5186;
    margin: 0;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    width: 100%;
    display: none;
}
.translation-box .input.selected {
    display: block;
}
.translation-newlocale-container,
.translation-deletelocale-container,
.translation-help-container,
.translation-error-container {
    display: none;
}
.translation-newlocale,
.translation-deletelocale {
    border: 1px solid #1D587F;
    margin: 0;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    width: 100%;
    height: 100px;
    display: none;
}
.translation-deletelocale.textarea {
    position: absolute;
    z-index: 10;
}
.translation-newlocale.selected,
.translation-deletelocale {
    display: block;
}
.translation-newlocale .padded,
.translation-deletelocale .padded,
.translation-help .padded {
    padding: 15px;
}
.translation-newlocale .buttons,
.translation-deletelocale .buttons {
    text-align: center;
    margin: 10px;
}
.translation-help {
    background-color: #def1f8;
    margin-bottom: 10px;
    display: none;
    border: 1px solid #c8e8f3;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.graybox .error-message {
    background: transparent url('../../img/developers/exclamation.png') no-repeat 5px 50%;
    color: red;
    padding: 5px 0 5px 30px;
}
.html-rtl .graybox .error-message {
    background-position: 100% 50%;
    padding: 5px 25px 5px 0;
}
/** Ratings barometer **/

.barometer {
    width: 100%;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    display: box;
    box-orient: horizontal;
    box-align: stretch;
}

/* .upvotes and .downvotes are the numbers + thumb images, in inputs. */
.barometer .upvotes, .barometer .downvotes {
    /* Override native input styling. */
    margin: 0;
    padding: 0;
    border: 0 none;
    cursor: pointer;
    text-shadow: none;
    -moz-border-radius: 0;

    padding-top: 0.1em; /* Push the text down a bit. */
    background-repeat: no-repeat;
    background-color: transparent;
}

.barometer .upvotes {
    color: #00b960;
    padding-left: 1.2em; /* Space for the image. */
    margin-right: 0.2em; /* Space between number and bar. */
    background-image: url('../../img/amo2009/icons/thumbs.png');
    background-position: left 33.2%;
}

.html-rtl .barometer .upvotes {
    padding: 0 1.2em 0 0; /* Space for the image. */
    margin: 0 0 0 0.2em; /* Space between number and bar. */
    background-position: right 32.5%;
}

.barometer .upvotes.voted,
.barometer .upvotes:hover {
    background-image: url('../../img/amo2009/icons/thumbs.png');
    background-position: left 0;
}

.html-rtl .barometer .upvotes.voted,
.html-rtl .barometer .upvotes:hover {
    background-position: right 0;
}

.barometer .downvotes {
    color: #d93a40;
    padding-right: 1.2em; /* Space for the image. */
    margin-left: 0.2em; /* Space between number and bar. */
    background-image: url('../../img/amo2009/icons/thumbs.png');
    background-position: right 100%;
}

.html-rtl .barometer .downvotes {
    padding: 0 0 0 1.2em; /* Space for the image. */
    margin: 0 0.2em 0 0; /* Space between number and bar. */
    background-position: left 100%;
}

.barometer .downvotes.voted,
.barometer .downvotes:hover {
    background-image: url('../../img/amo2009/icons/thumbs.png');
    background-position: right 67%;
}

.html-rtl .barometer .downvotes.voted,
.html-rtl .barometer .downvotes:hover {
    background-position: left 67.2%;
}

.barometer .downvotes:hover, .barometer .upvotes:hover,
.barometer .downvotes.voted, .barometer .upvotes.voted {
    font-weight: bold;
    text-shadow: none;
}

.barometer .bars {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}

.barometer .novotes {
    background-color: #d9d9d9;
}

.barometer .upbar, .barometer .downbar, .barometer .novotes {
    /* Make the bars short, centered using the top margin. */
    height: 0.7em;
    margin-top: 0.6em;
}

.barometer .votecount {
    margin-top: -1000em;
    position: absolute;
}

.barometer .upbar,
.barometer .downbar {
    float: left;
}

.html-rtl .barometer .upbar,
.html-rtl .barometer .downbar {
    float: right;
}

.barometer .upbar {
    background-color: #a3e4cf;
    margin-right: 1%; /* Little bit of space between the bars. */
}

.html-rtl .barometer .upbar {
    margin-left: 1%; /* Little bit of space between the bars. */
    margin-right: 0;
}

.barometer .downbar {
    background-color: #ffc3c6;
}

/* Turn off form margins in listings. */
.item .barometer form {
    margin: 0;
}

.item .barometer {
    padding-bottom: 7px;
}

/** END Ratings barometer **/

/* @group star select replacement */

select.replaced {
    display: none;
}
.primary .selectReplacement {
    cursor: pointer;
    list-style: none;
    position: relative;
    width: 65px;
    height: 12px;
    margin: 0;
    padding:0;
    background-image:url("../../img/amo2009/icons/starselect.gif");
    background-position: -65px 0;
    background-repeat: no-repeat;
    overflow: hidden;
}
.primary .selectReplacement li {
    display: inline;
    margin: 0;
    padding: 0;
}
.selectReplacement li a:link,
.selectReplacement li a:visited,
.selectReplacement li a:hover,
.selectReplacement li a:active,
.selectReplacement li a:focus {
    display: block;
    position: absolute;
    width: 13px;
    height: 12px;
    text-indent: -9999px;
    overflow: hidden;
    left: 0;
}
ul.worst {
    background-position: -52px 0;
}
ul.bad {
    background-position: -39px 0;
}
ul.fair {
    background-position: -26px 0;
}
ul.good {
    background-position: -13px 0;
}
ul.best {
    background-position: 0 0;
}
.selectReplacement li.worst a:link,
.selectReplacement li.worst a:visited,
.selectReplacement li.worst a:hover,
.selectReplacement li.worst a:active,
.selectReplacement li.worst a:focus {
    left: 0;
    z-index: 6;
}
.selectReplacement li.bad a:link,
.selectReplacement li.bad a:visited,
.selectReplacement li.bad a:hover,
.selectReplacement li.bad a:focus,
.selectReplacement li.bad a:active {
    left: 13px;
    z-index: 5;
}
.selectReplacement li.fair a:link,
.selectReplacement li.fair a:visited,
.selectReplacement li.fair a:hover,
.selectReplacement li.fair a:focus,
.selectReplacement li.fair a:active {
    left: 26px;
    z-index: 4;
}
.selectReplacement li.good a:link,
.selectReplacement li.good a:visited,
.selectReplacement li.good a:hover,
.selectReplacement li.good a:focus,
.selectReplacement li.good a:active {
    left: 39px;
    z-index: 3;
}
.selectReplacement li.best a:link,
.selectReplacement li.best a:visited,
.selectReplacement li.best a:hover,
.selectReplacement li.best a:focus,
.selectReplacement li.best a:active {
    left: 52px;
    z-index: 2;
}
.selectReplacement li a:hover,
.selectReplacement li a:focus,
.selectReplacement li a:active {
    background-position: left top;
    background-repeat: repeat-x;
    background-image:url("../../img/amo2009/icons/starselect_single.gif");
    left: 0;
}

.selectReplacement li.worst a:hover,
.selectReplacement li.worst a:focus,
.selectReplacement li.worst a:active {
    width: 13px;
    left: 0;
}
.selectReplacement li.bad a:hover,
.selectReplacement li.bad a:focus,
.selectReplacement li.bad a:active{
    width: 26px;
    left: 0;
}
.selectReplacement li.fair a:hover,
.selectReplacement li.fair a:focus,
.selectReplacement li.fair a:active{
    width: 39px;
    left: 0;
}
.selectReplacement li.good a:hover,
.selectReplacement li.good a:focus,
.selectReplacement li.good a:active{
    width: 52px;
    left: 0;
}
.selectReplacement li.best a:hover,
.selectReplacement li.best a:focus,
.selectReplacement li.best a:active {
    width: 65px;
    left: 0;
}

/* @end */

/* =Reviews Page */

.review .others-by-user { font-style: italic; display: block; margin-top: 0.5em; font-size: 0.85em }
.review .others-by-user a { xpadding-left: 22px;  }
.review .others-by-user a.loading { background: transparent url(../../img/ajax_loading.gif) no-repeat 2px top }
.review h2 { margin-bottom: 2px;}
.review h3 { margin-bottom: 2px;}

.review .hsession { display: inline; }
.review .reviewed-on { font-size: .8em; margin: .4em 0; }

.others-by-user-load { padding-left: 3em; }

.review-reply { margin-left: 3em; }

.review p.flag-thanks, .review-reply p.flag-thanks { font-weight: bold }
.review form.flag, .review-reply form.flag { display: block; padding-bottom: 1em }
.review form.flag label, .review-reply form.flag label { display: block; font-weight: bold }
.review form.flag .error { color:#f00; }

.with-js .review p.flag-thanks, .with-js .review-reply p.flag-thanks { display: inline }
.with-js .review form.flag, .with-js .review-reply form.flag { display: inline }
.with-js .review form.flag label, .with-js .review-reply form.flag label { display: none; }

.review .flag span.loading, .review-reply .flag span.loading { padding-left: 22px; background: transparent url(../../img/ajax_loading.gif) no-repeat 2px top }

/* END =Reviews Page */

.with-js .hide-with-js {
display:none;
}

input[type="hidden"] {
-moz-appearance:none;
-moz-binding:none;
-moz-user-focus:ignore;
border:0 none;
cursor:auto;
display:none;
padding:0;
}

/* @group Form controls */

input, textarea, select, button {
    font-family: inherit;
    font-size: 1em;
    line-height: inherit;
}

select {
    background-color: #fff; /* fixes bug in Opera which inherits bgcolor from container */
}


button {
    overflow: visible;
    cursor: pointer;
}

textarea,
input[type='text'],
input[type='password'],
select {
    border-width: 1px;
    border-style: solid;
    border-top-color: #999;
    border-left-color: #999;
    border-bottom-color: #ccc;
    border-right-color: #ccc;
    padding: 0 1px 1px 1px;
}

textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
select:focus {
    border-color: #888;
    outline: 1px solid #ffffaa;
}

input.short {
    width: 4em;
}

input.medium, textarea.medium {
    width: 12em;
}

input.long, textarea.long {
    width: 30em;
}

textarea {
    width: 99%;
    display: block;
}

.button-container input {
    font-weight: bold;
}

.button-container input.cancel {
    font-weight: normal;
}

button.link {
    background-image: none;
    border: 0;
    padding: 0;
    background-color: #fff;
    font-weight: normal;
    cursor: pointer;
    width: auto;
    overflow: visible;
    text-shadow: none;
    -moz-user-select: text;
}

/* accessibility feature, resize check and radio inputs */
.radio-container input,
.checkbox-container input {
    width: 1em;
    height: 1em;
}

/* @end */

/** jQuery UI tabs */
.ui-tabs-hide {
    display: none !important;
}
.ui-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 3px;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    margin: 0 0 0 2px;
    font-weight: bold;
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    float: left; /* fixes dir=ltr problem and other quirks IE */
    padding: 0 12px;
    background-color: #26395A;
}
.ui-tabs-nav a {
    margin: 5px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    background-position: 100% 0;
    text-decoration: none;
    white-space: nowrap; /* @ IE 6 */
    outline: 0; /* @ Firefox, prevent dotted border after click */
}
.ui-tabs-nav a:link, .ui-tabs-nav a:visited {
    color: #fff;
}
.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
    background-position: 100% -23px;
}
.ui-tabs-nav a span {
    padding-top: 1px;
    padding-right: 0;
    height: 20px;
    background-position: 0 0;
    line-height: 20px;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-top: 0;
    height: 27px;
    background-position: 0 -23px;
    line-height: 27px;
}


.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited,
.ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited {
    color: #000;
}
.ui-tabs-panel {
    border: 1px solid #26395A;
    padding: 10px;
    _background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
/*.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}*/
/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* auto clear @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}


/** Collections Pages */

form.favorite button {
    text-align: left;
}

.html-rtl form.favorite button {
    text-align: right;
}

blockquote.publisher-comment {
    border-left: 3px solid #C9E8F3;
    margin-left: 2em;
    padding-left: 1em;
}
blockquote.publisher-comment p {
    margin: 0;
}
blockquote.publisher-comment p.by {
    font-style: italic;
}

/* Collections Add and Edit: common styles */
.collections-page .submit-button {
    margin-top: 1em;
}
.collections-page .error_message {
    color: red;
    font-weight: bold;
}

/* Collections Add and Edit: add-on autocomplete */
.collections-page .ac_input {
    width: 400px;
}
.collections-page .ac_results {
    padding: 0px;
    border: 1px solid WindowFrame;
    background-color: Window;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 400px;
}

.collections-page .ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.collections-page .ac_results iframe {
    display:none;/*sorry for IE5*/
    display/**/:block;/*sorry for IE5*/
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    filter:mask();
    width:3000px;
    height:3000px;
}

.collections-page .ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font: menu;
    font-size: 12px;
    overflow: hidden;
}
.collections-page .ac_results li img {
    width: 32px;
    height: 32px;
    margin-right: .5em;
    vertical-align: middle;
}
.collections-page .ac_loading {
    background-image: url('../../img/ajax_loading.gif');
    background-position: right center;
    background-repeat: no-repeat;
}
.collections-page .ac_over {
    background-color: Highlight;
    color: HighlightText;
}

/* Collections: "add" page */
#collections-add #addonname {
    width: 250px;
}
#collections-add #selectedaddons {
    width: 80%;
    overflow: auto;
    max-height: 300px;
}
#collections-add #selectedaddons > ul {
    -moz-column-count: 2;
}
#collections-add #selectedaddons ul li {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    line-height: 32px;
    padding: 5px;
    overflow: hidden;
}
#collections-add #selectedaddons ul li.flash {
    background-color: #C8E8F3;
}
#collections-add #selectedaddons ul li img {
    vertical-align: middle;
    margin-right: .5em;
}

#collections-add #firstaddons,
#collections-add #selectedaddons {
    display: none; /* shown with JS */
}

/* Collections: "edit" page */
#collections-edit .jsonly {
    display: none;
}
#collections-edit .error, #collections-edit .error_message {
    color: #f00;
}
#collections-edit .coll-addon {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #C8E8F3;
}
#collections-edit .coll-addon blockquote {
    margin-right: 50px;
}

#collections-edit .coll-addon img {
    vertical-align:middle;
    margin-right: .5em;
}
#collections-edit .coll-addon .name {
    font-weight: bold;
}
#collections-edit .coll-addon .added {
    float: right;
    font-style: italic;
}
#collections-edit .coll-addon a.removeaddon {
    float: left;
    margin-top: -25px;
    margin-left: 40px;
}
#collections-edit .coll-addon .editbox {
    clear: both;
}
#collections-edit .coll-addon .editbox textarea {
    margin-bottom: .5em;
}
#collections-edit input#submitbutton {
    margin: 10px;
}

/* Collections: "detail" page */
#collections-detail .manage {
    padding-right: 1em;
}
.html-rtl #collections-detail .manage {
    padding: 0 0 0 1em;
}

/* Recently Viewed Collections */

#add-to-recents, #recently-viewed {
    /* Placeholders for js content, hidden until needed. */
    display: none;
}

/** END collections pages */

/** Add to collection module **/

.html-ltr #coll_publish a {
    float: right;
}
.html-rtl #coll_publish a {
    float: left;
}

#coll_publish h3 {
    margin: 0 0 0.5em 0;
}

#coll_publish h3 label {
    font-weight: normal;
    font-size: 0.85em;
}

#publish_to {
    width: 100%;
}

/* Hide "Select a collection..." */
#publish_to option[value=''] {
    display: none;
}

/** END add to collection module **/

/**
 * Tag classes, from 1 to 10, 10 being the largest
 */
ul.tag-cloud li {float: left; padding: 3px;}
ul.tag-cloud:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.tagLevel1 {font-size: 1em;}
.tagLevel2 {font-size: 1.2em;}
.tagLevel3 {font-size: 1.4em;}
.tagLevel4 {font-size: 1.6em;}
.tagLevel5 {font-size: 1.8em;}
.tagLevel6 {font-size: 2em;}
.tagLevel7 {font-size: 2.2em;}
.tagLevel8 {font-size: 2.4em;}
.tagLevel9 {font-size: 2.6em;}
.tagLevel10 {font-size: 3em;}

/** tag styles **/
.addon-tags .usertag .tagitem {
    padding-left: 20px;
    background-image: url(../../img/amo2009/icons/icons.png);
    background-repeat: no-repeat;
    background-position: 0px -600px;
}

.html-rtl .addon-tags .usertag .tagitem {
    background-position: 100% -600px;
    padding-left: 0;
    padding-right: 20px;
}

.addon-tags .developertag .tagitem {
    padding-left: 20px;
    background-image: url(../../img/amo2009/icons/icons.png);
    background-repeat: no-repeat;
    background-position: 0px -1400px;
}

.html-rtl .addon-tags .developertag .tagitem {
    background-position: 100% -1400px;
    padding-left: 0;
    padding-right: 20px;
}


.addon-tags li .removetag {
    display:none;
}
.addon-tags li.hover .removetag,
#tags .nojs li .removetag {
    display:inline;
    background: transparent url(../../img/amo2009/icons/cross.png) no-repeat left;
    border: none;
    margin: 0;
    text-indent: -1000px;
    /* IE7 fix in ie7.css */
}
.html-rtl .addon-tags li.hover .removetag,
.html-rtl #tags .nojs li .removetag {
    background-position: right;
}

.addon-tags form.remove-tags { margin-bottom: 0;}
.addon-tags form.remove-tags .removetag { vertical-align: bottom; margin-left: 3px; }
.html-rtl .addon-tags form.remove-tags .removetag { margin-left: 0; margin-right: 3px; }

#tags #tagMessage {
    background-color: #FFFFFF;
    color:#666666;
    display:block;
    font-size:0.769em;
    font-weight:normal;
    line-height:1em;
    text-shadow:1px 1px 1px #FFFFFF;
    padding: 4px;
}

#tags ul li {
	margin-bottom:.6em;
	}
	
#tags ul li a:hover {
	color:rgb(57,133,229);
	text-decoration:underline;
	}	

.primary a.button.prominent,
button,input[type=submit],input[type=button] {
    background-image: url(../../img/amo2009/bg/button-blue.jpg);
    background-color:#73B9FF;
    background-position:center center;
    background-repeat:repeat-x;
    padding:.3em 0.6em .2em 0.5em;
    -moz-border-radius: 13px;
    -webkit-border-radius: 8px;
    border-radius: 10px;
    color:#FFFFFF;
    font-family:helvetica, arial, sans-serif;
    text-decoration:none;
    font-size:1em;
    text-shadow:-1px -1px 1px #196CF2;
    white-space:nowrap;
    overflow:visible;
    cursor:pointer;
    border:1px solid #258BFF;
    margin:0.3em 0;
    vertical-align:middle;
}

.primary .sugar-cred {
	margin:2em 0 0;
	}

#footer {
	clear:both;
	}
